 
.service_bread{border-top:1px solid #EA5B35;margin-bottom:1em;}
.service_bread div.bgbread{background-color: #EA5B35;}
.service_bread ul{list-style: none;padding:0;margin:0;}
.service_bread ul li{display:inline-block; font-family: 'PT Sans';font-size: 14px;margin-right:5px;}
.rowanons h1 {font-size: 36px;color:#21385E;}
.service_item {margin-bottom:1.5em;padding-top: 10px;  padding-bottom: 2em;    border-bottom: 1px solid #c4c4c4;}
.service_item_opis h3{padding-top: 30%; height: 50%;font-size:28px;color:#21385E;}
.service_item_opis h3 a:link, .service_item_opis h3 a:focus, .service_item_opis h3 a:visited {color:#616161;} 
.service_item_opis h3 a:hover {color:#21385E;}
.service_item_opis h3 a {text-decoration:none;}
.service_item_opis .minanons{font-size: 16px;font-family: 'PT Sans';color:#616161;}
.service_item_opis .btn-blue{position: absolute; bottom: 10%; font-family: 'PT Sans'; font-size: 14px; width: 108px;height:36px;line-height:36px; padding: 0;}
.osnanons {font-family: 'PT Sans';font-size: 18px;color:#616161;}
.osntext {font-size: 16px;}
.next_salon {margin-top:1.5em !important;}
.next_salon h2 {font-size:30px;color:#21385E;}
.next_salon .next_salon_item {margin-bottom:16px;font-size: 16px;line-height: 1.6}

.next_service{padding-top: 10px;    border-top: 1px solid #c4c4c4;}
.next_tovar h2{text-transform: uppercase; text-align: center;vertical-align: middle;overflow:hidden;font-size:18px;font-family: 'PT Sans';color:#5C5C5C;}
.next_tovar h2:before,
.next_tovar h2:after {
    /* Обязательно указываем пустое свойство content, 
    ** иначе псевдоэлементы не появятся на сайте */
    content: "";
    /* Указываем что наши линии будут строчно-блочные и 
    ** выравнивание по высоте - по центру */
    display: inline-block;
    vertical-align: middle;
    /* Задаем ширину 100% и выбираем высоту линии, 
    ** в нашем примере она равна 4 пикселям */
    width: 100%;
    height: 1px;
    /* Добавляем цвет для линии */
    background-color: #5C5C5C;
    /* Добавляем пседоэлемантам возможность изменить 
    ** позицию линии, для создания отступов от текста */
    position: relative;
}
.next_tovar h2:before {
    /* Смещаем левую линию на 100% влево, чтобы линия 
    ** встала рядом с текстом слева */
    margin-left: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    left: -14px;
}
.next_tovar h2:after {
    /* Смещаем правую линию на 100% вправо, чтобы 
    ** линия встала рядом с текстом справа */
    margin-right: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    right: -14px;
}
.next_recomend {position:relative;}
.next_recomend.fixed {position:fixed;top:0;z-index: 10;}
.next_recomend .recomend_title{height: 40px;text-align:center;color:#fff;background-color:#c4c4c4;font-family: 'PT Sans';font-size: 14px;text-transform: uppercase;line-height: 40px;}
.next_recomend .recomend_list ul{list-style: none;padding-left:0;}
.next_recomend .recomend_list li{padding-top:12px;}
.next_recomend .recomend_list li, .next_recomend .recomend_list li a{font-family: 'PT Sans Bold';font-size: 16px;line-height: 18px;color:#616161;font-weight:900;}
.next_recomend .recomend_list li span{font-size: 12px;font-weight:500;}
.next_recomend .recomend_list .btn-blue{padding: 5px 8px;width: 108px;}


.teml_discount .item {
    color: #1d355b;
    display: inline-block;
    background: #f5f5f5;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #efefef;
}
.teml_discount .imgitem{
	display: block;
    height: 250px;
    width: 100%;
    
}
.teml_discount .textitem{height:50px; overflow:hidden;margin-bottom:1em;}
.slider_set .owl-stage{/*display:flex;flex-wrap: wrap;*/}
.slider_set {}

.main__btn2 a{
	font-family: PT Sans;
    font-size: 14px;
    color: #21385E;
    border: 1px solid #21385E;
    text-align: center;
    padding: 3px 0;
    text-decoration: none;
}
.main__btn2 a:hover {    
    background-color: rgb(33, 56, 94,1);
    transition: all 1s ease 0s;
    color: #fff;
	text-decoration: none;
}
.aspect-ratio-box {
    position: relative;
    display: block;
}
.aspect-ratio-box::after {
    display: block;
    content: '';
    padding-bottom: 66.66%;
}
.aspect-ratio-box img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	object-fit: contain;
}

.news__views{display: block;
    text-align: right;
    font-size: 0.8em;
    margin-top: -10px;}
.news__views_recomend{display: inline-block;    padding-left: 1em;}

@media (max-width: 719px) {
  .service_item_opis h3{padding-top: 10%; height: auto;}
.service_item_opis .minanons{font-size: 80%;padding:1em 0;}
.service_item_opis .btn-blue{position: relative; bottom: none;}
.osnanons {font-size: 100%;}
.order-2 h2{padding-top:10%;}
}

div.gallery-block div.gallery-img {
	margin: 0 0 20px 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    background-size: contain;
}
@media (min-width: 1350px){
	div.gallery-block.gallery div.gallery-img.big-size{
		height: 310px;
	}
	div.gallery-block.gallery div.gallery-img.middle-size{
		height: 230px;
	}
	div.gallery-block.gallery div.gallery-img.small-size{
		height: 390px;
	}

	div.block.small-block div.gallery-block.gallery div.gallery-img.big-size{
		height: 250px;
	}
	div.block.small-block div.gallery-block.gallery div.gallery-img.middle-size{
		height: 200px;
	}
	div.block.small-block div.gallery-block.gallery div.gallery-img.small-size{
		height: 130px;
	}

}
@media (min-width: 992px) and (max-width: 1199px){
	/*gallery-block*/
		div.gallery-block.nogallery div.gallery-img.big-size table td{
			height: 320px;
		}
		div.gallery-block.nogallery div.gallery-img.big-size table td img{
			max-height: 315px;
		}
		div.gallery-block.nogallery div.gallery-img.middle-size table td{
			height: 240px;
		}
		div.gallery-block.nogallery div.gallery-img.middle-size table td img{
			max-height: 235px;
		}
		div.gallery-block.nogallery div.gallery-img.small-size table td{
			height: 160px;
		}
		div.gallery-block.nogallery div.gallery-img.small-size table td img{
			max-height: 155px;
		}
		div.gallery-block.gallery div.gallery-img.big-size{
			height: 303px;
		}
		div.gallery-block.gallery div.gallery-img.middle-size{
			height: 225px;
		}
		div.gallery-block.gallery div.gallery-img.small-size{
			height: 280px;
		}
		div.block.small-block div.gallery-block.gallery div.gallery-img.big-size{
			height: 190px;
		}
		div.block.small-block div.gallery-block.gallery div.gallery-img.middle-size{
			height: 150px;
		}
		div.block.small-block div.gallery-block.gallery div.gallery-img.small-size{
			height: 110px;
		}
	/*^gallery-block*/
}
@media (min-width: 768px) and (max-width: 991px){
	div.gallery-block.gallery div.gallery-img.big-size{
		height: 223.33px;
	}
	div.gallery-block.gallery div.gallery-img.middle-size{
		height: 165px;
	}
	div.gallery-block.gallery div.gallery-img.small-size{
		height: 190px;
	}
	
}
@media (max-width: 767.98px){
	div.block.small-block div.gallery-block div.text-img{
			text-align: center;
		}
		div.gallery-block div.text-img{
			font-size: 13px;
			line-height: 20px;
		}
		div.gallery-block.gallery div.gallery-img.big-size,
		div.gallery-block.gallery div.gallery-img.middle-size,
		div.gallery-block.gallery div.gallery-img.small-size{
			height: 270px;
		}
}
.knopka {
    display: table;
    padding: 5px 20px;
    margin: auto;
    background: #21385e;
}
.knopka a {color:#ffffff;}
.slider_set .owl-nav {
	display:block !important;
}
.block_razmer {
    color: #939393;
    font-size: 14px;
}