.catalog-element {
    position: relative;
}
.catalog-element .ov_hidden{
	overflow:visible;
}
.catalog-element h1 {
    padding-bottom: 30px;
}
.catalog-element-inner{
	display:table;
}
.lisens {
    margin-bottom: 20px;
    min-height: 27px;
}
.lisens span {
    display: block;
    padding: 10px 10px 10px 63px;
    color: #de0000;
    font: normal 16px/18px;
    background: url(/images/lisens.png) 0 center no-repeat;
}
/**/

.good_block_photo {
    width: 400px;
	display:table-cell;
	vertical-align:top;
    padding: 0 60px 20px 0;
}
.img_block {
    width: 400px;
    height: 300px;
    position: relative;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center center;
}
/* .img_block img{ 	display:block; 	margin:auto; } */

.scroll_min_img {
    overflow: hidden;
	display:inline-block;
    position: relative;
    height: 92px;
    padding: 0 26px;
    background: #e6e6e6 url(/images/bg_img_min.png) 0 0 repeat-x;
}
.scroll_min_img ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
	display:inline-block;
	vertical-align:middle;
}
.scroll_min_img ul li {
    padding: 0 13px;
    display: inline-block;
    overflow: visible !important;
}
.scroll_min_img ul .imgm_block {
    width: 90px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
}
.scroll_min_img ul .imgm_block.activ_thumbs {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
}
/*gallery_good*/

.gallery_good{
    padding:11px 0 6px;
	position:relative;
	margin-top:5px;
	background:#fff;
    -webkit-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, .3) inset;
			box-shadow: 0 0px 3px 0px rgba(0, 0, 0, .3) inset;
}
.gallery_good:after,
.gallery_good:before{
	width:1px;
	background:#fff;
	top:1px;
	bottom:1px;
	display:block;
	position:absolute;
	z-index:1;
	content:"";
}
.gallery_good:after{
	right:0px;
}
.gallery_good:before{
	left:1px;
}
.scroll_min_img,
.scroll_min_img .prev,
.scroll_min_img .next{
    background: rgb(231, 231, 231);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYWFhYWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(170, 170, 170, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(231, 231, 231, 1)), color-stop(100%, rgba(170, 170, 170, 1)));
    background: -webkit-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(170, 170, 170, 1) 100%);
    background: -o-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(170, 170, 170, 1) 100%);
    background: -ms-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(170, 170, 170, 1) 100%);
    background: linear-gradient(to bottom, rgba(231, 231, 231, 1) 0%, rgba(170, 170, 170, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#aaaaaa', GradientType=0);
}
.scroll_min_img .prev,
.scroll_min_img .next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
    z-index: 20;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #f2f2f2 #f2f2f2 #cbcbcb #fff;
}
.scroll_min_img .prev:hover,
.scroll_min_img .next:hover {
    background: #aaa;
}
.scroll_min_img .prev span,
.scroll_min_img .next span {
    position: absolute;
    top: 38px;
    width: 7px;
    height: 12px;
}
.scroll_min_img .prev {
    left: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-radius: 8px 0 0 8px;
	border-right:0;
}
.scroll_min_img .prev span {
    left: 6px;
    background: url(/images/prv.png) 0 0 no-repeat;
}
.scroll_min_img .next {
    right: 0;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-radius: 0 8px 8px 0;
	border-left:0;
}
.scroll_min_img .next span {
    right: 6px;
    background: url(/images/nxt.png) 0 0 no-repeat;
}
/**/

.catalog-element .catalog-price {
    display: block;
    color: #032A5F;
    font: 24px/28px;
    padding-bottom: 30px;
	font-weight:bold;
}
.body_element_good {
    padding: 0;
	display:table-cell;
	vertical-align:top;
	width:100%;
}
.but_good {
    padding-bottom: 30px;
}
/*list_quality*/

.list_quality {
    padding-bottom: 12px;
}
.list_quality p {
    color: #7b7b7b;
    padding-bottom: 7px;
}
.list_quality b {
    color: #1d355b;
}
/*good-description*/

.good-description {
    border-collapse: collapse;
    margin-bottom: 20px;
}
.good-description,
.good-description td,
.good-description th {
    vertical-align: top;
    border: none !important;
    text-align: left;
}
.good-description td,
.good-description th.name {
    padding: 7px 20px 7px 0;
}
.good-description td {} .good-description th.name {
    color: #7b7b7b;
    font-weight: normal;
}
.good-description .table-header th {
    font: normal 16px/20px;
    padding: 10px 0;
    color: #21385E;
    border-bottom: #ccc;
}
/*salon_yes*/

.salon_yes {
    list-style: none !important;
    margin: 0;
    padding: 0;
}
.salon_yes li,
.salon_yes li a {
    color: #7b7b7b;
}
.salon_yes li a:hover {
    color: #9198a9;
}
.salon_yes li {
    padding: 0 0 10px;
}
.salon_yes li span {
    display: inline-block;
    padding: 0 20px 0 0;
    background: url(/images/yes_salon.png) right 3px no-repeat;
}
.salon_yes li.no span {
    background-image: url(/images/no_salon.png);
}
/**/

.block_complete {
    padding: 30px 0;
    border-top: 1px dotted #acacac;
}
.block_complete h2 {
    color: #21385e;
    font: normal 28px/32px;
    padding-bottom: 30px;
}
.we_recommend_it {
    margin: 0;
    padding: 0;
    list-style: none !important;
}
.we_recommend_it li {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 25px;
    width: 33%;
}
.we_recommend_it .content_section {
    width: 90%;
}
.we_recommend_it .content_section .info_section {
    padding: 0 10px;
}
/* .catalog-price { 	font:italic normal 24px/28px Georgia, tahoma, arial, sans-serif; 	color:#d33737; } .catalog-no_price{ 	font:italic normal 24px/28px Georgia, tahoma, arial, sans-serif; 	color:#d33737; } */

.catalog-section h3 {
    padding-bottom: 5px;
}
.img_section {
    width: 200px;
    height: 150px;
}
s {
    font: normal 20px/28px;
    color: #d33737;
}
@media screen and (max-width: 1110px) {
    .good_block_photo {
        padding: 0 20px 20px 0;
    }
}
@media screen and (max-width: 1070px) {
    .good_block_photo {
        float: none;
    }
}
.good_wrapper{
	display:table;
	width:100%;
}
.good_left,
.good_right{
	display:table-cell;
	vertical-align:top;
	width:50%;
}
.good_left{
	padding-right:20px;
}
/* good_block */
.good_block{
	border:1px solid #E6E6E6;
	position:relative;
}
.good_block + .good_block{
	border-top:0;
	margin-top:-1px;
}
.good_block_title{
	color:#fff;
	background-color:#1D355B;
	padding:0.5625em 0.625em;
	text-align:center;
	font-size:13px;
}
.good_block_inner{
	padding:0.5625em 0.625em;
	background-color:#fff;
}
@media screen and (max-width:1330px){
	.good_wrapper{
		display:block;
	}
	.offers_table{
		width:100%;
	}
}
@media screen and (min-width:1070px) and (max-width:1330px){
	.good_left{
		display:table;
		width:100%;
		padding-right:0;
		margin-bottom:10px;
	}
	.good_right{
		display:table;
		width:100%;
	}
	.good_block{
		display:table-cell;
		width:50%;
	}
	.good_block + .good_block{
		border-top:1px solid #E6E6E6;
		margin-top:0;
	}
	.good_right .table-responsive{
		max-height:220px;
		overflow-y:auto;
	}
	.good_right .offers_table_wrapper{
		display:block;
	}
}
@media screen and (max-width:1160px){
	.good_block_inner{
		font-size:13px;
	}
}
@media screen and (max-width:1070px){
	.catalog-element .ov_hidden{
		display: block;
	}
	.good_block_photo{
		display:block;
	}
	.body_element_good{
		display:block;
	}
	.good_block_inner{
		font-size:15px;
	}
}