<!DOCTYPE HTML>
<html lang="ru">
<head>
	<title>Главная</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link type="image/x-icon" href="favicon.ico" rel="icon">
	<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/jquery.min.js"></script>
	<script src="js/main.min.js"></script>
	
	<!--[if lt IE 10]>
		<script type="text/javascript" src="js/fix/placeholder.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/fix/respond.min.js"></script>
	<![endif]-->
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="js/fix/selectivizr-min.js"></script>
	<![endif]-->
	<script src="js/init.js" type="text/javascript"></script>
</head>
<body>
	<div class="main">
		<nav id="mmenu" class="mobile-menu">
		    <ul class="">
		        <li>
		            <a href="">О компании</a>
		            <ul>
		                <li><a href="">Продажа оружия</a></li>
		                <li><a href="">Общественная деятельность</a></li>
		                <li><a href="">Arms & Hunting</a></li>
		                <li><a href="">Контакты</a></li>
		            </ul>
		        </li>
		        <li>
		            <a href="">Оружейные салоны</a>
		            <ul>
		                <li><a href="/weapons_salons/varvarka/">Варварка</a></li>
		                <li><a href="/weapons_salons/leninsky-prospekt/">Ленинский проспект</a></li>
		                <li><a href="/weapons_salons/volokolamskoe-shosse/">Волоколамское шоссе</a></li>
		                <li><a href="/weapons_salons/lyubertsy/">Люберцы</a></li>
		                <li><a href="/weapons_salons/prospekt-mira/">Проспект Мира</a></li>
		            </ul>
		        </li>
		        <li>
		            <a href="">Услуги</a>
		        </li>
		        <li class="active">
		            <a href="">Каталог</a>
		            <ul>
		                <li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		                <li class="active"><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		                <li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		                <li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		                <li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		                <li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		                <li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		                <li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		                <li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		                <li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		                <li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		                <li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		                <li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		                <li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		                <li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		            </ul>
		        </li>
		        <li><a href="">Онлайн-магазин</a></li>
		        <li><a href="">Дилеры</a></li>
		        <li>
		            <a href="">Ресторан</a>
		            <ul>
		                <li><a href="">Меню</a></li>
		                <li><a href="">Услуги</a></li>
		                <li><a href="">Контакты</a></li>
		                <li><a href="">Охотничьи рецепты</a></li>
		            </ul>
		        </li>
		    </ul>
		</nav>
		<script>
		    $(document).ready(function(){
				$("#mmenu").mmenu({
					navbar:{
						title: 'Меню'
					}
				});
		    });
		</script>
		
		
		
		
		<header class="header">
		    <div class="container">
		        <div class="header__top">
		            <div class="header__lang">
		                <a href="" class="active">русский</a>
		                <a href="">english</a>
		            </div>
		            <div class="header__auth">
		                <a href="/logout.html">Выйти</a><a href="">Иванов И.В.</a>
		            </div>
		        </div>
		        <div class="header__middle">
		            <div class="header__middle--left">
		                <ul>
		                    <li>
		                        <a href="/weapons_salons/gift_certificate/" title="Подарочный сертификат">
		                            <span class="icon-gift"></span>
		                            <em>Подарочный сертификат</em>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="/weapons_salons/discount-program/" title="Дисконтная карта">
		                            <span class="icon-credit-card-alt"></span>
		                            <em>Дисконтная карта</em>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="/about_company/contacts.php" title="Контакты">
		                            <span class="icon-phone"></span>
		                            <em>Контакты</em>
		                        </a>
		                    </li>
		                </ul>
		
		                <div class="mobile-menu-bar">
		                    <a id="hamburger" href="#mmenu"><span></span></a>
		                </div>
		
		            </div>
		            <div class="header__logo">
		                <a href="/" class="logo"></a>
		            </div>
		            <div class="header__middle--right">
		
		                <div class="header__search">
		                    <div class="search-toggle">
		                        <span class="icon-search"></span>
		                    </div>
		                	<form class="form__search" action="/internet_shop/" _lpchecked="1">
		    					<input type="text" class="input_inside" name="q" value="" size="15" placeholder="Поиск по сайту" maxlength="50">
		        				<button class="btn__search" type="submit" name="s">
		                            <span class="icon-search"></span>
		                        </button>
		                	</form>
		                </div>
		                <ul>
		                    <li>
		                        <a href="/internet_shop/basket/"><span id="bid" class="icon-shopping-bag js-cart-count"><b>2</b></span></a>
		                    </li>
		                    <li><a href=""><span class="icon-user"></span></a></li>
		                    <li><a href=""><span class="icon-heart-o"><em>2</em></span></a></li>
		                </ul>
		
		            </div>
		        </div>
		    </div>
		</header>
		<nav class="navbar" role="navigation">
		    <div class="container">
		        <ul class="navbar__nav">
		            <li>
		                <a href="">О компании</a>
		                <ul>
		                    <li><a href="">Продажа оружия</a></li>
		                    <li><a href="">Общественная деятельность</a></li>
		                    <li><a href="">Arms & Hunting</a></li>
		                    <li><a href="">Контакты</a></li>
		                </ul>
		            </li>
		            <li>
		                <a href="">Оружейные салоны</a>
		                <ul>
							<li><a href="/weapons_salons/varvarka/">Варварка</a></li>
							<li><a href="/weapons_salons/leninsky-prospekt/">Ленинский проспект</a></li>
		                    <li><a href="/weapons_salons/volokolamskoe-shosse/">Волоколамское шоссе</a></li>
		                    <li><a href="/weapons_salons/lyubertsy/">Люберцы</a></li>
		                    <li><a href="/weapons_salons/prospekt-mira/">Проспект Мира</a></li>
						</ul>
		            </li>
		            <li>
		                <a href="">Услуги</a>
		            </li>
		            <li class="active">
		                <a href="">Каталог</a>
		                <ul>
		                	<li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		                	<li><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		                	<li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		                	<li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		                	<li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		                	<li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		                	<li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		                	<li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		                	<li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		                	<li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		                	<li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		                	<li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		                	<li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		                	<li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		                	<li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		                </ul>
		            </li>
		            <li><a href="">Онлайн-магазин</a></li>
		            <li><a href="">Дилеры</a></li>
		            <li>
		                <a href="">Ресторан</a>
		                <ul>
		                    <li><a href="">Меню</a></li>
		                    <li><a href="">Услуги</a></li>
		                    <li><a href="">Контакты</a></li>
		                    <li><a href="">Охотничьи рецепты</a></li>
		                </ul>
		            </li>
		        </ul>
		
		        <ul class="navbar__nav-sub">
		            <li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		            <li><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		            <li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		            <li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		            <li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		            <li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		            <li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		            <li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		            <li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		            <li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		            <li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		            <li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		            <li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		            <li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		            <li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		        </ul>
		    </div>
		</nav>

		<div class="main__inner">
			<div class="container">

				<div class="static-page">

						<!--
							<ul class="breadcrumb">
								<li><a href="/"><span>Главная</span></a></li>
								<li><a href="/"><span>Продукция</span></a></li>
								<li><a href="/"><span>Макароны</span></a></li>
							</ul>
							<div class="title-page">
				            	<h1>Заголовок страницы</h1>
			              	</div>
						-->
					<div class="flexslider js_slider">
					    <ul class="slides">
					        <li>
					            <a href="#">
					                <img src="upload/slide-1.jpg" />
					            </a>
					        </li>
					        <li>
					            <a href="#">
					                <img src="upload/slide-2.jpg" />
					            </a>
					        </li>
					        <li>
					            <a href="#">
					                <img src="upload/slide-3.jpg" />
					            </a>
					        </li>
					    </ul>
					</div>
					<script>
					    $(document).ready(function(){
					        $('.js_slider').flexslider({
					            animation: "fade",
					            prevText: "",
					            nextText: "",
					        });
					    });
					</script>
					<div class="banner-grid">
					    <div class="banner-grid__row">
					        <div class="banner-grid__col">
					            <a class="banner-grid__item" href="/internet_shop/optika/pritsely/?shopFilter_P2_MIN=2345&amp;shopFilter_P2_MAX=547650&amp;shopFilter_247_24744352=Y&amp;sort_field=NAME&amp;sort_order=asc&amp;PAGEN_SIZE=500&amp;PICTURE_ONLY=1&amp;set_filter=%CF%EE%EA%E0%E7%E0%F2%FC">
					                <img src="upload/banner_1.jpg" alt="">
					            </a>
					        </div>
					        <div class="banner-grid__col">
					            <a class="banner-grid__item" href="/internet_shop/tovary-dlya-stendovoy-strelby/">
					                <img src="upload/banner_2.jpg" alt="">
					            </a>
					        </div>
					        <div class="banner-grid__col">
					            <a class="banner-grid__item banner-grid__item_small" href="/internet_shop/odezhda/?sort_field=NAME&amp;sort_order=asc&amp;PAGEN_SIZE=24&amp;shopFilter_P2_MIN=1350&amp;shopFilter_P2_MAX=62280&amp;shopFilter_247_485565356=Y&amp;sort_field=NAME&amp;sort_order=asc&amp;PAGEN_SIZE=500&amp;PICTURE_ONLY=1&amp;set_filter=%CF%EE%EA%E0%E7%E0%F2%FC">
					                <img src="upload/banner_3.jpg" alt="">
					            </a>
					            <a class="banner-grid__item banner-grid__item_small" href="/internet_shop/suveniry/?shopFilter_P2_MIN=322&amp;shopFilter_P2_MAX=840000&amp;shopFilter_247_1461877584=Y&amp;sort_field=NAME&amp;sort_order=asc&amp;PAGEN_SIZE=24&amp;PICTURE_ONLY=1&amp;set_filter=%CF%EE%EA%E0%E7%E0%F2%FC">
					                <img src="upload/banner_4.jpg" alt="">
					            </a>
					        </div>
					    </div>
					</div>

					<h2>Рекомендуем</h2>
					<div class="recommend__wrapper">
					    <div class="recommend owl-carousel owl-theme js_recommend">
					        <div class="recommend__item">
								<div class="recommend__img">
									<a href="/">
										<img src="upload/recommend_1.jpg" alt="Брюки  Jagd  X5215/7733-2L-S05 Icelander 50">
									</a>
								</div>
								<div class="recommend__title">
					                <a href="/">Брюки  Jagd  X5215/7733-2L-S05 Icelander 50</a>
					            </div>
								<div class="recommend__price">28 917 руб</div>
					        </div>
					        <div class="recommend__item">
					            <div class="recommend__img">
									<a href="/">
										<div class="no-photo"></div>
									</a>
								</div>
								<div class="recommend__title">
					                <a href="/">Балаклава Jagd  X3806/5529-M12 Wasilla L</a>
					            </div>
								<div class="recommend__price">5 022 руб</div>
					        </div>
					        <div class="recommend__item">
					            <div class="recommend__img">
									<a href="/">
										<img src="upload/recommend_3.jpg" alt="Ботинки  Jagdhund 6383-2 38">
									</a>
								</div>
								<div class="recommend__title">
					                <a href="/">Ботинки  Jagdhund 6383-2 38</a>
					            </div>
								<div class="recommend__price">20 007 руб</div>
					        </div>
					        <div class="recommend__item">
					            <div class="recommend__img">
									<a href="/">
										<img src="upload/recommend_4.jpg" alt="Нож Arno Bernard 1308 Hippo">
									</a>
								</div>
								<div class="recommend__title">
					                <a href="/">Нож Arno Bernard 1308 Hippo</a>
					            </div>
								<div class="recommend__price">41 715 руб</div>
					        </div>
					        <div class="recommend__item">
					            <div class="recommend__img">
									<a href="/">
										<img src="upload/recommend_4.jpg" alt="Нож Arno Bernard 1308 Hippo">
									</a>
								</div>
								<div class="recommend__title">
					                <a href="/">Нож Arno Bernard 1308 Hippo</a>
					            </div>
								<div class="recommend__price">41 715 руб</div>
					        </div>
					
					    </div>
					</div>
					<script>
					    $(document).ready(function(){
					        var owlbrand = $('.js_recommend');
					        owlbrand.owlCarousel({
					            loop:true,
					            items:4,
					            margin:10,
					            dots:false,
					            nav:true,
					            navText:['<span class="icon-arrow-left3"></span>','<span class="icon-arrow-right3"></span>'],
					            responsiveClass:true,
					            responsive:{
					                0:{
					                    items:1
					                },
					                500:{
					                    items:2
					                },
					                768:{
					                    items:3
					                },
					                1024:{
					                    items:4
					                },
					                1100:{
					                    items:4
					                }
					            }
					        });
					    });
					</script>

					<h2>Новости салонов</h2>
					<ul class="article_list">
					    <li class="article_item" id="">
					        <div class="ov_hidden">
					            <div>
					                <h3>
										<a href="/news/novaya_kollektsiya_beretta/"><b>Новая коллекция Beretta</b></a><br>
									</h3>
					                <h4><span class="article_date-time">
										19/05/2016
									</span></h4> В продажу поступила <a href="/internet_shop/odezhda/?sort_field=NAME&amp;sort_order=asc&amp;PAGEN_SIZE=48&amp;shopFilter_P2_MIN=500&amp;shopFilter_P2_MAX=62280&amp;shopFilter_247_601506276=Y&amp;sort_field=NAME&amp;sort_order=asc&amp;PAGEN_SIZE=99&amp;PICTURE_ONLY=1&amp;set_filter=%CF%EE%EA%E0%E7%E0%F2%FC">новая коллекция</a> одежды Beretta весна-лето 2016. <a href="/news/novaya_kollektsiya_beretta/" class="article-more">Подробнее</a>
					            </div>
					        </div>
					    </li>
					    <li class="article_item" id="">
					        <div class="ov_hidden">
					            <div>
					                <h3><a href="/news/grafik_raboty_masterskoy_na_varvarke/"><b>Изменения в графике работы мастерских в мае</b></a><br></h3>
					                <h4><span class="article_date-time">
										29/04/2016
									</span></h4>
					                <p>Оружейная мастерская на улице Варварка в мае работает по следующему графику: c 13 по 24 мая мастерская работает с 10:0 до 19:00 часов. 21, 22 и 29 мая - выходные дни. В остальные дни мастерская работает в штатном режиме.</p>
					                <a href="/news/grafik_raboty_masterskoy_na_varvarke/" class="article-more">Подробнее</a>
					            </div>
					        </div>
					    </li>
					    <li class="article_item" id="">
					        <div class="ov_hidden">
					            <div>
					                <h3>
										<a href="/news/v_preddverii_vesennego_okhotnichego_sezona_tseny_tayut/"><b>В преддверии весеннего охотничьего сезона цены тают!</b></a><br>
									</h3>
					                <h4><span class="article_date-time">
										08/04/2016
									</span></h4>
					                <p>С 23 марта в оружейных салонах «Кольчуга» действуют скидки. Сумма скидки для всех составляет 10%, для обладателей золотых карт - 20%*.</p> <a href="/news/v_preddverii_vesennego_okhotnichego_sezona_tseny_tayut/" class="article-more">Подробнее</a>
					            </div>
					        </div>
					    </li>
					    <li class="article_item" id="">
					        <div class="ov_hidden">
					            <div>
					                <h3><a href="/news/priglashaem_na_rabotu/"><b>Приглашаем на работу</b></a><br></h3>
					                <h4><span class="article_date-time">
										08/04/2016
									</span></h4>
					                <p>В мастерскую в г. Люберцы требуется мастер по ремонту и обслуживанию гражданского, спортивного, пневматического, а также огнестрельного оружия ограниченного поражения.</p>
					                <p>По всем вопросам обращаться по адресу: г. Люберцы, ул. Котельническая, д. 24А. Тел.: +7(495)554-22-40. E-mail: rosimpex@kolchuga.ru....</p> <a href="/news/priglashaem_na_rabotu/" class="article-more">Подробнее</a>
					            </div>
					        </div>
					    </li>
					    <li class="article_item" id="">
					        <div class="ov_hidden">
					            <div>
					                <h3><a href="/news/zeiss-optika-dlya-vashikh-pobed/"><b>ZEISS. Оптика для ваших побед!</b></a><br></h3>
					                <h4><span class="article_date-time">
										11/03/2016
									</span></h4>
					                <p>1 марта вышел короткометражный документальный фильм от Zeiss об охоте с собакой в Шведской Лапландии с оптикой Zeiss Victory. Представляем вашему вниманию 8 минут скандинавской охоты и подборку оптики Zeiss Victory, которую можно приобрести
					                    в онлайн-магазине Кольчуга!</p> <a href="/news/zeiss-optika-dlya-vashikh-pobed/" class="article-more">Подробнее</a>
					            </div>
					        </div>
					    </li>
					</ul>
					<div class="b-sections">
					    <div class="b-sections__row">
					        <a class="b-section" href="/internet_shop/oruzhie/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-1.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Оружие</span>
					        </a>
					        <a class="b-section" href="/internet_shop/patrony/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-2.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Патроны</span>
					        </a>
					        <a class="b-section" href="/internet_shop/optika/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-3.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Оптика</span>
					        </a>
					        <a class="b-section" href="/internet_shop/oruzheynye-aksessuary/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-4.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Оружейные аксессуары</span>
					        </a>
					        <a class="b-section" href="/internet_shop/nozhi/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-5.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Ножи</span>
					        </a>
					        <a class="b-section" href="/internet_shop/odezhda/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-6.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Одежда</span>
					        </a>
					        <a class="b-section" href="/internet_shop/obuv/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-7.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Обувь</span>
					        </a>
					        <a class="b-section" href="/internet_shop/aksessuary/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-8.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Аксессуары</span>
					        </a>
					        <a class="b-section" href="/internet_shop/soputstvuyushchie-tovary/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-9.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Сопутствующие товары</span>
					        </a>
					        <a class="b-section" href="/internet_shop/suveniry/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-10.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Сувениры</span>
					        </a>
					        <a class="b-section" href="/internet_shop/seyfy/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-11.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Сейфы</span>
					        </a>
					        <a class="b-section" href="/internet_shop/tovary-dlya-stendovoy-strelby/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-12.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Товары для стендовой стрельбы</span>
					        </a>
					        <a class="b-section" href="/internet_shop/tovary-dlya-vesenney-okhoty/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-13.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Товары для весенней охоты</span>
					        </a>
					        <a class="b-section" href="/internet_shop/finalnaya-tsena/">
					            <div class="b-section__img">
					                <div class="b-section__img_cnt"><img src="upload/section-list-14.jpg" alt=""></div>
					            </div>
					            <span class="b-section__title">Финальная цена</span>
					        </a>
					    </div>
					</div>
					<div class="flexslider js_slider_bottom">
					    <ul class="slides">
					        <li>
					            <a href="#">
					                <img src="upload/slider_bottom_1.jpg" />
					            </a>
					        </li>
					        <li>
					            <a href="#">
					                <img src="upload/slider_bottom_2.jpg" />
					            </a>
					        </li>
					        <li>
					            <a href="#">
					                <img src="upload/slider_bottom_3.jpg" />
					            </a>
					        </li>
					    </ul>
					</div>
					<script>
					    $(document).ready(function(){
					        $('.js_slider_bottom').flexslider({
					            animation: "fade",
					            prevText: "Назад",
					            nextText: "Вперед",
					            controlNav: false,
					        });
					    });
					</script>
					<div class="brands-carousel-wrapper">
					    <div class="brands-carousel owl-carousel owl-theme js-brands">
					        <div class="brands-carousel-item">
					            <a href=""><img src="upload/brand-1.png" alt=""></a>
					        </div>
					        <div class="brands-carousel-item">
					            <a href=""><img src="upload/brand-2.png" alt=""></a>
					        </div>
					        <div class="brands-carousel-item">
					            <a href=""><img src="upload/brand-3.png" alt=""></a>
					        </div>
					        <div class="brands-carousel-item">
					            <a href=""><img src="upload/brand-4.png" alt=""></a>
					        </div>
					        <div class="brands-carousel-item">
					            <a href=""><img src="upload/brand-5.png" alt=""></a>
					        </div>
					        <div class="brands-carousel-item">
					            <a href=""><img src="upload/brand-6.png" alt=""></a>
					        </div>
					        <div class="brands-carousel-item">
					            <a href=""><img src="upload/brand-7.png" alt=""></a>
					        </div>
					        <div class="brands-carousel-item">
					            <a href=""><img src="upload/brand-8.png" alt=""></a>
					        </div>
					        <div class="brands-carousel-item">
					            <a href=""><img src="upload/brand-9.png" alt=""></a>
					        </div>
					        <div class="brands-carousel-item">
					            <a href=""><img src="upload/brand-10.png" alt=""></a>
					        </div>
					    </div>
					</div>
					<script>
					    $(document).ready(function(){
					        var owlbrand = $('.js-brands');
					        owlbrand.owlCarousel({
					            loop:true,
					            items:7,
					            margin:10,
					            dots:false,
					            nav:true,
					            navText:['<span class="icon-arrow-left3"></span>','<span class="icon-arrow-right3"></span>'],
					            responsiveClass:true,
					            responsive:{
					                0:{
					                    items:1
					                },
					                360:{
					                    items:2
					                },
					                480:{
					                    items:3
					                },
					                768:{
					                    items:5
					                },
					                1024:{
					                    items:6
					                },
					                1100:{
					                    items:7
					                }
					            }
					        });
					    });
					</script>


				</div><!-- @end .static-page -->
				<div class="clearfix"></div>

			</div>
		</div><!-- @end .main -->
		<footer class="footer">
		    <div class="container">
		
		        <div class="footer__top">
		            <div class="footer__top--left">
		                <div class="footer__top--header">Покупателям</div>
		                <div class="footer__top--body js-mh">
		                    <ul>
		                        <li><a href="">Доставка</a></li>
		                        <li><a href="">Оплата</a></li>
		                        <li><a href="">Условия возврата</a></li>
		                        <li><a href="">Скидочные карты</a></li>
		                        <li><a href="">Подарочные сертификаты</a></li>
		                    </ul>
		                </div>
		            </div>
		            <div class="footer__top--right">
		                <div class="footer__top--header">Контакты</div>
		                <div class="footer__top--body js-mh">
		                    <ul>
		                        <li>Адрес: г. Москва, ул. Варварка, д.3</li>
		                        <li>E-mail: <a href="mailto:info@kolchuga.ru">info@kolchuga.ru</a></li>
		                        <li>Телефон: <a href="tel:+7(495)234-34-43">+7(495)234-34-43</a></li>
		                    </ul>
		                    <ul class="footer__top--icons">
		                        <li><a href=""><img src="images/vk.png" alt=""></a></li>
		                        <li><a href=""><img src="images/facebook.png" alt=""></a></li>
		                        <li><a href=""><img src="images/instagram.png" alt=""></a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		
		        <div class="footer__middle">
		            <div class="footer__middle--body">
		                <ul>
		                    <li><a href="">Сервисное обслуживание</a></li>
		                    <li><a href="">Гарантии</a></li>
		                    <li><a href="">Законодательная база</a></li>
		                    <li><a href="">Политика конфиденциальности</a></li>
		                    <li><a href="">Вакансии</a></li>
		                </ul>
		            </div>
		        </div>
		
		        <div class="footer__bottom">
		            <div class="footer__bottom--left">
		                <ul class="footer__bottom-payments">
		                    <li><img class="visa" src="images/icon-visa.svg" alt="" width="56" height="18"></li>
		                    <li><img class="mastercard" src="images/icon-mastercard.svg" alt="" width="44" height="26"></li>
		                    <li><img class="maestro" src="images/icon-maestro.svg" alt="" width="44" height="26"></li>
		                </ul>
		           </div>
		            <div class="footer__bottom--center">
		                <div class="footer__bottom-copyrights">
		                    &copy; 2005-2016 ЗАО «Фирма «Кольчуга»<br>Все права защищены
		                </div>
		            </div>
		            <div class="footer__bottom--right">
		
		                <div class="footer__bottom-developer">
		                    <a href="http://datainlife.ru"><span>Data</span><em>inlife</em></a>
		                </div>
		                <div class="footer__bottom-counter">
		                    <a href="http://top100.rambler.ru/top100/">
		                    	<img src="http://counter.rambler.ru/top100.cnt?685785" alt="" width=1 height=1 border=0>
		                    </a>
		                    <!--end of Top100 code-->
		                    <!--begin of Top100 logo-->
		                    <a href="http://top100.rambler.ru/top100/">
		                    <img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-gray2.gif" alt="Rambler's Top100" width=88 height=31 border=0></a>
		                    <!--end of Top100 logo -->
		                    <!--LiveInternet counter--><script language="JavaScript"><!--
		                    document.write('<a href="http://www.liveinternet.ru/click" '+
		                    'target=_blank><img src="http://counter.yadro.ru/hit?t13.11;r'+
		                    escape(document.referrer)+((typeof(screen)=='undefined')?'':
		                    ';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth?
		                    screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+
		                    ';'+Math.random()+
		                    '" title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодн\я" '+
		                    'border=0 width=88 height=31></a>')//--></script><!--/LiveInternet-->
		                </div>
		
		            </div>
		        </div>
		    </div>
		</footer>
	</div><!-- main-wrapper -->
</body>
</html>