.container-fluid .flexslider{width:100%;}
.bigslides li {height:600px;background-size: cover !important;cursor:pointer;}
.bigslides li:after {
	
    overflow: hidden;
    position: absolute;
    top: 0;
    content: "";
    
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    z-index: 1;
    
}

.bigslides .slider-name {position:absolute;top:100px;color:#fff;font-size:54px;left:10%;width:570px;    z-index: 3;}
.bigslides .biga {position:absolute;top:385px;color:#fff;left:50%;margin-left: -110px;width:223px;font-size:14px;font-family: 'PT Sans';border:1px solid #fff;text-align:center;line-height:36px;text-decoration:none;background-color: rgb(33, 56, 94,0.1);    z-index: 3;}
.bigslides .biga:hover {border:1px solid #21385e;background-color:rgb(33, 56, 94,1);transition: all 1s ease 0s;}
.bigslides .slider-text {position:absolute;top:375px;color:#fff;font-size:18px;left:10%;width:340px;font-family: 'PT Sans';    z-index: 3;}
.bigslides .slider-logo {position: absolute; top: 200px; max-width: 400px; z-index: 3; left: 50%; margin-left:-200px;}

.minslaides li {height:400px;background-size: cover !important;}
.minslaides li:after {
	
    overflow: hidden;
    position: absolute;
    top: 0;
    content: "";
    
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    z-index: 1;
    
}
.minslaides .slider-name {position:absolute;top:90px;color:#fff;font-size:36px;left:10%;width:280px;    z-index: 3;line-height: 40px;}
.minslaides .biga {position:absolute;top:330px;color:#fff;left:50%;margin-left: -110px;width:223px;font-size:14px;font-family: 'PT Sans';border:1px solid #fff;text-align:center;line-height:24px;text-decoration:none;    z-index: 3;}
.minslaides .biga:hover {border:1px solid #21385e;background-color:rgb(33, 56, 94,1);transition: 1s;}
.minslaides .slider-text {position:absolute;top:240px;color:#fff;font-size:18px;left:10%;width:280px;font-family: 'PT Sans';    z-index: 3;}
.minslaides .slider-logo {position: absolute; top: 18px; max-width: 50%; z-index: 3; right: 15px;}

.bigslides + .flex-direction-nav, .bigslides + .flex-control-nav + .flex-direction-nav{
    position: relative;
    max-width: 1348px;
    margin: -300px auto 0 auto;
}

.bigslides + .flex-control-nav {
    bottom: 44px;
    z-index: 2;
}
.minslaides + .flex-control-nav {
    bottom: 0;
    z-index: 2;
}
.flex-control-paging li a {background: #c4c4c4;width: 8px; height: 8px;}
.flex-control-paging li a.flex-active {background: #fff;}