.img_block_gallery{
   overflow: hidden;
	padding:0 20px 0 30px;
    position: relative;
	text-align:center;
}
.block_gallery_content{
	
}
.menu_img{
	margin:0;
	padding:0;
	list-style:none;
}
.menu_img li{
	/* display: inline-block;
    float: none !important;
    margin: 0;
    text-align: center;
    vertical-align: middle; */
    width: 178px;
	
}
.jcarousel-clip {
    overflow: hidden;
}
.jcarousel-prev, .jcarousel-next {
    cursor: pointer;
    display: block;
    height: 28px;
    position: absolute;
    top: 0px;
    width: 11px;
	background: url(/images/ico_arrow.png) 0 center no-repeat;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.jcarousel-prev {
    left: -30px;
}
.jcarousel-next {
	background-position:-11px center;
    right: -20px;
}
.jcarousel-prev:hover, .jcarousel-next:hover, .jcarousel-prev-disabled, .jcarousel-next-disabled {
	opacity: 1;
	filter: alpha(opacity=100);
}
h2.poptovar{margin:0 0 1em 0;}
a.poptovar{margin-top:47px;}