<!DOCTYPE HTML>
<html lang="ru">
<head>
	<title>Ботинки Beretta стрелковые SC71/3051/055V</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link type="image/x-icon" href="favicon.ico" rel="icon">
	<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/jquery.min.js"></script>
	<script src="js/main.min.js"></script>
	
	<!--[if lt IE 10]>
		<script type="text/javascript" src="js/fix/placeholder.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/fix/respond.min.js"></script>
	<![endif]-->
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="js/fix/selectivizr-min.js"></script>
	<![endif]-->
	<script src="js/init.js" type="text/javascript"></script>
</head>
<body>
	<div class="main">
		<nav id="mmenu" class="mobile-menu">
		    <ul class="">
		        <li>
		            <a href="">О компании</a>
		            <ul>
		                <li><a href="">Продажа оружия</a></li>
		                <li><a href="">Общественная деятельность</a></li>
		                <li><a href="">Arms & Hunting</a></li>
		                <li><a href="">Контакты</a></li>
		            </ul>
		        </li>
		        <li>
		            <a href="">Оружейные салоны</a>
		            <ul>
		                <li><a href="/weapons_salons/varvarka/">Варварка</a></li>
		                <li><a href="/weapons_salons/leninsky-prospekt/">Ленинский проспект</a></li>
		                <li><a href="/weapons_salons/volokolamskoe-shosse/">Волоколамское шоссе</a></li>
		                <li><a href="/weapons_salons/lyubertsy/">Люберцы</a></li>
		                <li><a href="/weapons_salons/prospekt-mira/">Проспект Мира</a></li>
		            </ul>
		        </li>
		        <li>
		            <a href="">Услуги</a>
		        </li>
		        <li class="active">
		            <a href="">Каталог</a>
		            <ul>
		                <li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		                <li class="active"><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		                <li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		                <li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		                <li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		                <li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		                <li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		                <li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		                <li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		                <li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		                <li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		                <li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		                <li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		                <li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		                <li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		            </ul>
		        </li>
		        <li><a href="">Онлайн-магазин</a></li>
		        <li><a href="">Дилеры</a></li>
		        <li>
		            <a href="">Ресторан</a>
		            <ul>
		                <li><a href="">Меню</a></li>
		                <li><a href="">Услуги</a></li>
		                <li><a href="">Контакты</a></li>
		                <li><a href="">Охотничьи рецепты</a></li>
		            </ul>
		        </li>
		    </ul>
		</nav>
		<script>
		    $(document).ready(function(){
				$("#mmenu").mmenu({
					navbar:{
						title: 'Меню'
					}
				});
		    });
		</script>
		
		
		
		
		<header class="header">
		    <div class="container">
		        <div class="header__top">
		            <div class="header__lang">
		                <a href="" class="active">русский</a>
		                <a href="">english</a>
		            </div>
		            <div class="header__auth">
		                <a href="/logout.html">Выйти</a><a href="">Иванов И.В.</a>
		            </div>
		        </div>
		        <div class="header__middle">
		            <div class="header__middle--left">
		                <ul>
		                    <li>
		                        <a href="/weapons_salons/gift_certificate/" title="Подарочный сертификат">
		                            <span class="icon-gift"></span>
		                            <em>Подарочный сертификат</em>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="/weapons_salons/discount-program/" title="Дисконтная карта">
		                            <span class="icon-credit-card-alt"></span>
		                            <em>Дисконтная карта</em>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="/about_company/contacts.php" title="Контакты">
		                            <span class="icon-phone"></span>
		                            <em>Контакты</em>
		                        </a>
		                    </li>
		                </ul>
		
		                <div class="mobile-menu-bar">
		                    <a id="hamburger" href="#mmenu"><span></span></a>
		                </div>
		
		            </div>
		            <div class="header__logo">
		                <a href="/" class="logo"></a>
		            </div>
		            <div class="header__middle--right">
		
		                <div class="header__search">
		                    <div class="search-toggle">
		                        <span class="icon-search"></span>
		                    </div>
		                	<form class="form__search" action="/internet_shop/" _lpchecked="1">
		    					<input type="text" class="input_inside" name="q" value="" size="15" placeholder="Поиск по сайту" maxlength="50">
		        				<button class="btn__search" type="submit" name="s">
		                            <span class="icon-search"></span>
		                        </button>
		                	</form>
		                </div>
		                <ul>
		                    <li>
		                        <a href="/internet_shop/basket/"><span id="bid" class="icon-shopping-bag js-cart-count"><b>2</b></span></a>
		                    </li>
		                    <li><a href=""><span class="icon-user"></span></a></li>
		                    <li><a href=""><span class="icon-heart-o"><em>2</em></span></a></li>
		                </ul>
		
		            </div>
		        </div>
		    </div>
		</header>
		<nav class="navbar" role="navigation">
		    <div class="container">
		        <ul class="navbar__nav">
		            <li>
		                <a href="">О компании</a>
		                <ul>
		                    <li><a href="">Продажа оружия</a></li>
		                    <li><a href="">Общественная деятельность</a></li>
		                    <li><a href="">Arms & Hunting</a></li>
		                    <li><a href="">Контакты</a></li>
		                </ul>
		            </li>
		            <li>
		                <a href="">Оружейные салоны</a>
		                <ul>
							<li><a href="/weapons_salons/varvarka/">Варварка</a></li>
							<li><a href="/weapons_salons/leninsky-prospekt/">Ленинский проспект</a></li>
		                    <li><a href="/weapons_salons/volokolamskoe-shosse/">Волоколамское шоссе</a></li>
		                    <li><a href="/weapons_salons/lyubertsy/">Люберцы</a></li>
		                    <li><a href="/weapons_salons/prospekt-mira/">Проспект Мира</a></li>
						</ul>
		            </li>
		            <li>
		                <a href="">Услуги</a>
		            </li>
		            <li class="active">
		                <a href="">Каталог</a>
		                <ul>
		                	<li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		                	<li><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		                	<li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		                	<li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		                	<li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		                	<li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		                	<li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		                	<li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		                	<li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		                	<li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		                	<li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		                	<li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		                	<li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		                	<li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		                	<li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		                </ul>
		            </li>
		            <li><a href="">Онлайн-магазин</a></li>
		            <li><a href="">Дилеры</a></li>
		            <li>
		                <a href="">Ресторан</a>
		                <ul>
		                    <li><a href="">Меню</a></li>
		                    <li><a href="">Услуги</a></li>
		                    <li><a href="">Контакты</a></li>
		                    <li><a href="">Охотничьи рецепты</a></li>
		                </ul>
		            </li>
		        </ul>
		
		        <ul class="navbar__nav-sub">
		            <li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		            <li><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		            <li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		            <li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		            <li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		            <li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		            <li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		            <li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		            <li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		            <li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		            <li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		            <li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		            <li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		            <li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		            <li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		        </ul>
		    </div>
		</nav>

		<div class="main__inner">
			<div class="container">

				<div class="static-page">

					<div class="title-page">
		            	<h1>Anschutz 1780 .30-06</h1>
	              	</div>
					<ul class="breadcrumb">
						<li><a href="/"><span>Главная</span></a></li>
						<li><a href="/"><span>Онлайн-магазин</span></a></li>
						<li><a href="/"><span>Оружие</span></a></li>
						<li><span>Ботинки Beretta стрелковые SC71/3051/055V</span></li>
					</ul>

					<div class="catalog">

						<aside class="sidebar__catalog">
							<div class="sidebar__block">
								<div class="sidebar__menu accordion-menu">
									<div class="sidebar__menu--title accordion-header accordion-open">
										<span>Каталог товаров</span>
										<i></i>
									</div>
									<ul class="js-mh">
										<li><a href=""><span>Ботинки</span></a></li>
										<li><a href=""><span>Сапоги</span></a></li>
										<li><a href=""><span>Забродники</span></a></li>
										<li><a href=""><span>Аксессуары для обуви</span></a></li>
										<li><a href=""><span>Тапочки</span></a></li>
									</ul>
								</div>
							</div>
						</aside>

						<div class="catalog__wrapper">
							<div class="catalog__detail">
							    <div class="catalog__detail--item">
							        <div class="catalog__detail--left">
							
							            <!--<div class="catalog__gallery js-mh">
							                <div class="catalog__gallery--big">
							                    <a id="js_big_img" href="upload/detail_big_1.jpg" class="popup">
							                        <img src="upload/detail_big_1.jpg" alt="">
							                    </a>
							                </div>
							                <div class="catalog__gallery--thumb">
							                    // = carousel_catalog_detail.html
							                </div>
							            </div>-->
							
							            <div class="catalog__gallery">
							                <div class="catalog__gallery--big">
							            
							                    <div id="slider" class="flexslider">
							                        <ul class="slides popup-gallery">
							                            <li>
							                                <a href="upload/detail_big_1.jpg">
							                                    <img src="upload/detail_big_1.jpg" alt="">
							                                </a>
							                            </li>
							                            <li>
							                                <a href="upload/detail_big_2.jpg">
							                                    <img src="upload/detail_big_2.jpg" alt="">
							                                </a>
							                            </li>
							                            <li>
							                                <a href="upload/detail_big_3.jpg">
							                                    <img src="upload/detail_big_3.jpg" alt="">
							                                </a>
							                            </li>
							                            <li>
							                                <a href="upload/detail_big_4.jpg">
							                                    <img src="upload/detail_big_4.jpg" alt="">
							                                </a>
							                            </li>
							                        </ul>
							                    </div>
							                </div>
							                <div class="catalog__gallery--thumb">
							                    <div id="carousel" class="flexslider">
							                        <ul class="slides">
							                            <li class="">
							                                <span><img src="upload/detail_1.jpg" alt=""></span>
							                            </li>
							                            <li class="">
							                                <span><img src="upload/detail_2.jpg" alt=""></span>
							                            </li>
							                            <li class="">
							                                <span><img src="upload/detail_3.jpg" alt=""></span>
							                            </li>
							                            <li class="">
							                                <span><img src="upload/detail_4.jpg" alt=""></span>
							                            </li>
							                        </ul>
							                    </div>
							                </div>
							            </div>
							            
							            <script>
							                $(document).ready(function(){
							            
							                    //$('.b-filter__name').click(function(){
							                        //$.fn.matchHeight._update($('.js-mh'));
							                    //});
							            
							                        $('#carousel').flexslider({
							                            animation: "slide",
							                            controlNav: false,
							                            animationLoop: false,
							                            slideshow: false,
							                            itemWidth: 126,
							                            itemMargin: 0,
							                            prevText: "",
							                            nextText:"",
							                            asNavFor: '#slider'
							                        });
							            
							                        $('#slider').flexslider({
							                            animation: "slide",
							                            controlNav: false,
							                            animationLoop: false,
							                            slideshow: false,
							                            prevText: "",
							                            nextText:"",
							                            sync: "#carousel"
							                        });
							            
							                });
							            </script>
							
							        </div>
							        <div class="catalog__detail--right">
							
							            <div class="catalog__param">
							                <div class="catalog__param--left">
							                    <div class="catalog__param--title">Характеристики</div>
							                    <ul>
							                        <li>
							                            <em>Пол</em>
							                            <b>Мужская</b>
							                        </li>
							                        <li>
							                            <em>Размер</em>
							                            <b>40 / 41 / 42 / 43 / 44 / 45 / 46</b>
							                        </li>
							                        <li>
							                            <em>Сезон</em>
							                            <b>Лето</b>
							                        </li>
							                    </ul>
							                </div>
							                <div class="catalog__param--right">
							                    <div class="catalog__param--title">Наличие</div>
							                    <ul>
							                        <li class="yes"><a href="">Склад</a></li>
							                        <li class="yes"><a href="">Варварка</a></li>
							                        <li class="yes"><a href="">Волоколамское шоссе</a></li>
							                        <li class="yes"><a href="">Ленинский проспект</a></li>
							                        <li><a href="">Люберцы</a></li>
							                        <li><a href="">Проспект Мира</a></li>
							                    </ul>
							                </div>
							            </div>
							
							
							            <div class="catalog__option-list">
							
							                <!-- <div class="catalog__option-list__item">
							                    <select name="" id="">
							                        <option value="">Выбрать цвет</option>
							                        <option value="">Красный</option>
							                        <option value="">Синий</option>
							                        <option value="">Зеленый</option>
							                    </select>
							                </div>-->
							
							                <div class="catalog__option-list__item">
							
							                    <div class="btn-group">
							                        <button type="button" class="btn-select dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							                            Выбрать размер <span class="icon-arrow-down"></span>
							                        </button>
							                        <ul class="dropdown-menu">
							                            <li><a href="#">40 <em>(Только <b>1</b> в наличии)</em></a></li>
							                            <li><a href="#">41</a></li>
							                            <li class="active"><a href="#">42</a></li>
							                            <li><a href="#">43</a></li>
							                            <li><a href="#">44</a></li>
							                            <li><a href="#">45</a></li>
							                            <li><a href="#">46</a></li>
							                        </ul>
							                    </div>
							
							                </div>
							            </div>
							
							            <!-- <div class="catalog__option-list__num">
							                <span class="catalog__option-list__num__title">Количество</span>
							                <span class="catalog__option-list__num__body"><input type="text" name="" class="js-q" value="1" id="" maxlength="6"></span>
							            </div> -->
							
							            <div class="catalog__option-list__price">
							                <div class="price__block">
							                    <span class="old-price">22 690 руб.</span> <span class="discount">Скидка 40%</span> <span class="price">22 690 руб.</span>
							                </div>
							            </div>
							
							            <div class="catalog__license">
							                <div class="catalog__license__item">
							                    <span>Только по лицензии</span>
							                </div>
							            </div>
							
							            <div class="catalog__btn text-center">
											<noindex><a class="js-buy-btn btn btn-primary" href="#" data-id="652674" rel="nofollow">Купить</a></noindex>
											<noindex><a class="btn btn-primary popup-modal" href="#modal-buyoneclick" rel="nofollow">Купить в 1 клик</a></noindex>
											<div class="add-cart" style="display:none">
												<div class="add-cart__inner">
													<div class="add-cart__img"></div>
													<div class="add-cart__body">
														<div><b>Товар добавлен в корзину</b></div>
														<div><a href="/internet_shop/basket/">Оформить заказ</a></div>
														<div><a href="">Продолжить покупки</a></div>
													</div>
												</div>
											</div>
										</div>
							
							            <div id="modal-buyoneclick" class="mfp-modal mfp-hide">
							                <div class="mfp-modal-header">
							                    Купить в 1 клик
							                </div>
							                <div class="mfp-modal-content">
							                    <form action="" class="form__horizontal">
							                        <div class="form__group">
														<label for="field_11">ФИО<span class="req">*</span></label>
														<div class="form__input">
															<input id="field_11" type="text" value="">
														</div>
													</div>
							                        <div class="form__group">
														<label for="field_12">Телефон<span class="req">*</span></label>
														<div class="form__input">
															<input id="field_12" type="text" value="">
														</div>
													</div>
							                        <div class="form__group">
														<label for="field_13">E-mail<span class="req">*</span></label>
														<div class="form__input">
															<input id="field_13" type="email" value="">
														</div>
													</div>
							                        <div class="form__group">
														<label for="field_14">Селект<span class="req">*</span></label>
														<div class="form__input">
							                                <select name="" id="" >
							                                    <option value="">пункт 1</option>
							                                    <option value="">пункт 2</option>
							                                    <option value="">пункт 3</option>
							                                    <option value="">пункт 4</option>
							                                </select>
														</div>
													</div>
							                        <div class="form__group">
														<label for="field_88">Комментарий</label>
														<div class="form__input">
															<textarea id="field_88" name="comment" rows="6" cols="40"></textarea>
														</div>
													</div>
							                        <div class="form__group form__group--nolabel">
														<div class="form__input text-center">
															<input type="submit" class="btn btn-primary" value="Купить">
														</div>
													</div>
							                    </form>
							                </div>
							            </div>
							
							
							            <!--<div class="catalog__detail--table">
							                <table class="table js-offers">
							                    <thead>
							                        <tr>
							                            <th>Цвет</th>
							                            <th>Размер</th>
							                            <th>Цена</th>
							                            <th>Кол-во</th>
							                        </tr>
							                    </thead>
							                    <tbody>
							                        <tr class="js-row" data-id="652674">
							                            <td></td>
							                            <td>40</td>
							                            <td><b>9 659 руб</b></td>
							                            <td>
							                                <input type="text" name="" class="js-q" value="" id="" maxlength="6">
							                            </td>
							                        </tr>
							                        <tr class="js-row" data-id="658023">
							                            <td></td>
							                            <td>41</td>
							                            <td><b>9 659 руб</b></td>
							                            <td>
							                                <input type="text" name="" class="js-q" value="" id="" maxlength="6">
							                            </td>
							                        </tr>
							                        <tr class="js-row" data-id="658024">
							                            <td></td>
							                            <td>42</td>
							                            <td><b>9 659 руб</b></td>
							                            <td>
							                                <input type="text" name="" class="js-q" value="" id="" maxlength="6">
							                            </td>
							                        </tr>
							                        <tr class="js-row" data-id="658025">
							                            <td></td>
							                            <td>43</td>
							                            <td><b>9 659 руб</b></td>
							                            <td>
							                                <input type="text" name="" class="js-q" value="" id="" maxlength="6">
							                            </td>
							                        </tr>
							                        <tr class="js-row" data-id="658020">
							                            <td></td>
							                            <td>44</td>
							                            <td><b>9 659 руб</b></td>
							                            <td>
							                                <input type="text" name="" class="js-q" value="" id="" maxlength="6">
							                            </td>
							                        </tr>
							                        <tr class="js-row" data-id="658021">
							                            <td></td>
							                            <td>45</td>
							                            <td><b>9 659 руб</b></td>
							                            <td>
							                                <input type="text" name="" class="js-q" value="" id="" maxlength="6">
							                            </td>
							                        </tr>
							                        <tr class="js-row" data-id="658022">
							                            <td></td>
							                            <td>46</td>
							                            <td><b>9 659 руб</b></td>
							                            <td>
							                                <input type="text" name="" class="js-q" value="" id="" maxlength="6">
							                            </td>
							                        </tr>
							                    </tbody>
							                </table>
							            </div>-->
							
							
							
							
							        </div>
							    </div>
							
							    <div class="catalog__detail--desc">
							        <p>Водо/воздухонепроницаемая трёхслойная ткань. Водоотталкивающая поверхность. Технология "ultra silent" - отсутствие звука трения. Водонепроницаемые усиленные неопреновые манжеты. Регулировка талии костюма.Технология "Odorsmart™" - при ношении одежды создаётся особый "микроклимат" вокруг кожи, который не позволяет развиться запаху (бактериям) наружу, благодаря чему зверю будет очень трудно вас учуять. Срок действия технологии зависит от правильного стандартного ухода и эксплуатации одежды. Верхний слой: 100% полиэстер + защитные мембраны. Внутренний слой (подкладка): 100% полиэстер + технология "Odorsmart™".</p>
							        <ul>
							            <li>Наименование: HELLS CANYON</li>
							            <li>Состав: 100% полиэстер</li>
							            <li>Цвет: камуфляж</li>
							            <li>Погодные условия: весна, лето, поздняя осень</li>
							            <li>Водонепроницаемый: да</li>
							            <li>Влагоотталкивающий: да</li>
							            <li>Ветроустойчивость: да</li>
							            <li>Дышащий материал: да</li>
							        </ul>
							    </div>
							
							    <div class="catalog__detail--info">
							        <p><img src="upload/detail_discount.jpg" alt=""></p>
							        <p>С 23 марта в оружейных салонах «Кольчуга» действуют скидки. Сумма скидки для всех составляет 10%, для обладателей золотых карт - 20%*.</p>
							        <p><strong>Цены на сайте указаны с учетом 10% скидки.</strong></p>
							        <p>Акция действует во всех салонах «Кольчуга», а также в онлайн-магазине!** </p>
							        <p>На оружие, стоимостью свыше 400 тысяч рублей, для всех покупателей в период акции действуют условия, как для обладателей золотых карт:
							        </p><ul>
							        <li>Оружие от 400 000 до 1 000 000 рублей - 5% </li>
							        <li>Оружие от 1 000 000 до 5 000 000 рублей - 3% </li>
							        <li>Оружие, покупаемое по безналичному расчету от 2 000 000 рублей - 2%</li>
							        </ul>
							        <p><strong>Цены на оружие, стоимостью свыше 400 тысяч рублей указаны без учёта скидок.</strong></p>
							        <p>* Скидки по данной акции не суммируются с дисконтными картами, со скидкой, предоставляемой в дни рождения, а так же на товары со скидкой по другим акциям.
							        <br>**При оформлении онлайн-заказа со скидкой 20% укажите номер своей золотой карты. Наш менеджер свяжется с Вами для уточнения итоговой стоимости заказа с учётом скидки 20%.</p>
							        <p>Удачной охоты!</p>
							    </div>
							
							</div>
							<h2>Рекомендуем</h2>
							<div class="recommend__wrapper">
							    <div class="recommend owl-carousel owl-theme js_recommend">
							        <div class="recommend__item">
										<div class="recommend__img">
											<a href="/">
												<img src="upload/recommend_1.jpg" alt="Брюки  Jagd  X5215/7733-2L-S05 Icelander 50">
											</a>
										</div>
										<div class="recommend__title">
							                <a href="/">Брюки  Jagd  X5215/7733-2L-S05 Icelander 50</a>
							            </div>
										<div class="recommend__price">28 917 руб</div>
							        </div>
							        <div class="recommend__item">
							            <div class="recommend__img">
											<a href="/">
												<div class="no-photo"></div>
											</a>
										</div>
										<div class="recommend__title">
							                <a href="/">Балаклава Jagd  X3806/5529-M12 Wasilla L</a>
							            </div>
										<div class="recommend__price">5 022 руб</div>
							        </div>
							        <div class="recommend__item">
							            <div class="recommend__img">
											<a href="/">
												<img src="upload/recommend_3.jpg" alt="Ботинки  Jagdhund 6383-2 38">
											</a>
										</div>
										<div class="recommend__title">
							                <a href="/">Ботинки  Jagdhund 6383-2 38</a>
							            </div>
										<div class="recommend__price">20 007 руб</div>
							        </div>
							        <div class="recommend__item">
							            <div class="recommend__img">
											<a href="/">
												<img src="upload/recommend_4.jpg" alt="Нож Arno Bernard 1308 Hippo">
											</a>
										</div>
										<div class="recommend__title">
							                <a href="/">Нож Arno Bernard 1308 Hippo</a>
							            </div>
										<div class="recommend__price">41 715 руб</div>
							        </div>
							        <div class="recommend__item">
							            <div class="recommend__img">
											<a href="/">
												<img src="upload/recommend_4.jpg" alt="Нож Arno Bernard 1308 Hippo">
											</a>
										</div>
										<div class="recommend__title">
							                <a href="/">Нож Arno Bernard 1308 Hippo</a>
							            </div>
										<div class="recommend__price">41 715 руб</div>
							        </div>
							
							    </div>
							</div>
							<script>
							    $(document).ready(function(){
							        var owlbrand = $('.js_recommend');
							        owlbrand.owlCarousel({
							            loop:true,
							            items:4,
							            margin:10,
							            dots:false,
							            nav:true,
							            navText:['<span class="icon-arrow-left3"></span>','<span class="icon-arrow-right3"></span>'],
							            responsiveClass:true,
							            responsive:{
							                0:{
							                    items:1
							                },
							                500:{
							                    items:2
							                },
							                768:{
							                    items:3
							                },
							                1024:{
							                    items:4
							                },
							                1100:{
							                    items:4
							                }
							            }
							        });
							    });
							</script>
						</div>

					</div>



				</div><!-- @end .static-page -->
				<div class="clearfix"></div>

			</div>
		</div><!-- @end .main -->
		<footer class="footer">
		    <div class="container">
		
		        <div class="footer__top">
		            <div class="footer__top--left">
		                <div class="footer__top--header">Покупателям</div>
		                <div class="footer__top--body js-mh">
		                    <ul>
		                        <li><a href="">Доставка</a></li>
		                        <li><a href="">Оплата</a></li>
		                        <li><a href="">Условия возврата</a></li>
		                        <li><a href="">Скидочные карты</a></li>
		                        <li><a href="">Подарочные сертификаты</a></li>
		                    </ul>
		                </div>
		            </div>
		            <div class="footer__top--right">
		                <div class="footer__top--header">Контакты</div>
		                <div class="footer__top--body js-mh">
		                    <ul>
		                        <li>Адрес: г. Москва, ул. Варварка, д.3</li>
		                        <li>E-mail: <a href="mailto:info@kolchuga.ru">info@kolchuga.ru</a></li>
		                        <li>Телефон: <a href="tel:+7(495)234-34-43">+7(495)234-34-43</a></li>
		                    </ul>
		                    <ul class="footer__top--icons">
		                        <li><a href=""><img src="images/vk.png" alt=""></a></li>
		                        <li><a href=""><img src="images/facebook.png" alt=""></a></li>
		                        <li><a href=""><img src="images/instagram.png" alt=""></a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		
		        <div class="footer__middle">
		            <div class="footer__middle--body">
		                <ul>
		                    <li><a href="">Сервисное обслуживание</a></li>
		                    <li><a href="">Гарантии</a></li>
		                    <li><a href="">Законодательная база</a></li>
		                    <li><a href="">Политика конфиденциальности</a></li>
		                    <li><a href="">Вакансии</a></li>
		                </ul>
		            </div>
		        </div>
		
		        <div class="footer__bottom">
		            <div class="footer__bottom--left">
		                <ul class="footer__bottom-payments">
		                    <li><img class="visa" src="images/icon-visa.svg" alt="" width="56" height="18"></li>
		                    <li><img class="mastercard" src="images/icon-mastercard.svg" alt="" width="44" height="26"></li>
		                    <li><img class="maestro" src="images/icon-maestro.svg" alt="" width="44" height="26"></li>
		                </ul>
		           </div>
		            <div class="footer__bottom--center">
		                <div class="footer__bottom-copyrights">
		                    &copy; 2005-2016 ЗАО «Фирма «Кольчуга»<br>Все права защищены
		                </div>
		            </div>
		            <div class="footer__bottom--right">
		
		                <div class="footer__bottom-developer">
		                    <a href="http://datainlife.ru"><span>Data</span><em>inlife</em></a>
		                </div>
		                <div class="footer__bottom-counter">
		                    <a href="http://top100.rambler.ru/top100/">
		                    	<img src="http://counter.rambler.ru/top100.cnt?685785" alt="" width=1 height=1 border=0>
		                    </a>
		                    <!--end of Top100 code-->
		                    <!--begin of Top100 logo-->
		                    <a href="http://top100.rambler.ru/top100/">
		                    <img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-gray2.gif" alt="Rambler's Top100" width=88 height=31 border=0></a>
		                    <!--end of Top100 logo -->
		                    <!--LiveInternet counter--><script language="JavaScript"><!--
		                    document.write('<a href="http://www.liveinternet.ru/click" '+
		                    'target=_blank><img src="http://counter.yadro.ru/hit?t13.11;r'+
		                    escape(document.referrer)+((typeof(screen)=='undefined')?'':
		                    ';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth?
		                    screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+
		                    ';'+Math.random()+
		                    '" title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодн\я" '+
		                    'border=0 width=88 height=31></a>')//--></script><!--/LiveInternet-->
		                </div>
		
		            </div>
		        </div>
		    </div>
		</footer>
	</div><!-- main-wrapper -->
</body>
</html>