<!DOCTYPE HTML>
<html lang="ru">
<head>
	<title>Дилеры</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link type="image/x-icon" href="favicon.ico" rel="icon">
	<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/jquery.min.js"></script>
	<script src="js/main.min.js"></script>
	
	<!--[if lt IE 10]>
		<script type="text/javascript" src="js/fix/placeholder.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/fix/respond.min.js"></script>
	<![endif]-->
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="js/fix/selectivizr-min.js"></script>
	<![endif]-->
	<script src="js/init.js" type="text/javascript"></script>
</head>
<body>
	<div class="main">
		<nav id="mmenu" class="mobile-menu">
		    <ul class="">
		        <li>
		            <a href="">О компании</a>
		            <ul>
		                <li><a href="">Продажа оружия</a></li>
		                <li><a href="">Общественная деятельность</a></li>
		                <li><a href="">Arms & Hunting</a></li>
		                <li><a href="">Контакты</a></li>
		            </ul>
		        </li>
		        <li>
		            <a href="">Оружейные салоны</a>
		            <ul>
		                <li><a href="/weapons_salons/varvarka/">Варварка</a></li>
		                <li><a href="/weapons_salons/leninsky-prospekt/">Ленинский проспект</a></li>
		                <li><a href="/weapons_salons/volokolamskoe-shosse/">Волоколамское шоссе</a></li>
		                <li><a href="/weapons_salons/lyubertsy/">Люберцы</a></li>
		                <li><a href="/weapons_salons/prospekt-mira/">Проспект Мира</a></li>
		            </ul>
		        </li>
		        <li>
		            <a href="">Услуги</a>
		        </li>
		        <li class="active">
		            <a href="">Каталог</a>
		            <ul>
		                <li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		                <li class="active"><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		                <li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		                <li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		                <li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		                <li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		                <li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		                <li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		                <li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		                <li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		                <li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		                <li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		                <li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		                <li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		                <li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		            </ul>
		        </li>
		        <li><a href="">Онлайн-магазин</a></li>
		        <li><a href="">Дилеры</a></li>
		        <li>
		            <a href="">Ресторан</a>
		            <ul>
		                <li><a href="">Меню</a></li>
		                <li><a href="">Услуги</a></li>
		                <li><a href="">Контакты</a></li>
		                <li><a href="">Охотничьи рецепты</a></li>
		            </ul>
		        </li>
		    </ul>
		</nav>
		<script>
		    $(document).ready(function(){
				$("#mmenu").mmenu({
					navbar:{
						title: 'Меню'
					}
				});
		    });
		</script>
		
		
		
		
		<header class="header">
		    <div class="container">
		        <div class="header__top">
		            <div class="header__lang">
		                <a href="" class="active">русский</a>
		                <a href="">english</a>
		            </div>
		            <div class="header__auth">
		                <a href="/logout.html">Выйти</a><a href="">Иванов И.В.</a>
		            </div>
		        </div>
		        <div class="header__middle">
		            <div class="header__middle--left">
		                <ul>
		                    <li>
		                        <a href="/weapons_salons/gift_certificate/" title="Подарочный сертификат">
		                            <span class="icon-gift"></span>
		                            <em>Подарочный сертификат</em>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="/weapons_salons/discount-program/" title="Дисконтная карта">
		                            <span class="icon-credit-card-alt"></span>
		                            <em>Дисконтная карта</em>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="/about_company/contacts.php" title="Контакты">
		                            <span class="icon-phone"></span>
		                            <em>Контакты</em>
		                        </a>
		                    </li>
		                </ul>
		
		                <div class="mobile-menu-bar">
		                    <a id="hamburger" href="#mmenu"><span></span></a>
		                </div>
		
		            </div>
		            <div class="header__logo">
		                <a href="/" class="logo"></a>
		            </div>
		            <div class="header__middle--right">
		
		                <div class="header__search">
		                    <div class="search-toggle">
		                        <span class="icon-search"></span>
		                    </div>
		                	<form class="form__search" action="/internet_shop/" _lpchecked="1">
		    					<input type="text" class="input_inside" name="q" value="" size="15" placeholder="Поиск по сайту" maxlength="50">
		        				<button class="btn__search" type="submit" name="s">
		                            <span class="icon-search"></span>
		                        </button>
		                	</form>
		                </div>
		                <ul>
		                    <li>
		                        <a href="/internet_shop/basket/"><span id="bid" class="icon-shopping-bag js-cart-count"><b>2</b></span></a>
		                    </li>
		                    <li><a href=""><span class="icon-user"></span></a></li>
		                    <li><a href=""><span class="icon-heart-o"><em>2</em></span></a></li>
		                </ul>
		
		            </div>
		        </div>
		    </div>
		</header>
		<nav class="navbar" role="navigation">
		    <div class="container">
		        <ul class="navbar__nav">
		            <li>
		                <a href="">О компании</a>
		                <ul>
		                    <li><a href="">Продажа оружия</a></li>
		                    <li><a href="">Общественная деятельность</a></li>
		                    <li><a href="">Arms & Hunting</a></li>
		                    <li><a href="">Контакты</a></li>
		                </ul>
		            </li>
		            <li>
		                <a href="">Оружейные салоны</a>
		                <ul>
							<li><a href="/weapons_salons/varvarka/">Варварка</a></li>
							<li><a href="/weapons_salons/leninsky-prospekt/">Ленинский проспект</a></li>
		                    <li><a href="/weapons_salons/volokolamskoe-shosse/">Волоколамское шоссе</a></li>
		                    <li><a href="/weapons_salons/lyubertsy/">Люберцы</a></li>
		                    <li><a href="/weapons_salons/prospekt-mira/">Проспект Мира</a></li>
						</ul>
		            </li>
		            <li>
		                <a href="">Услуги</a>
		            </li>
		            <li class="active">
		                <a href="">Каталог</a>
		                <ul>
		                	<li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		                	<li><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		                	<li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		                	<li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		                	<li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		                	<li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		                	<li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		                	<li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		                	<li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		                	<li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		                	<li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		                	<li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		                	<li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		                	<li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		                	<li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		                </ul>
		            </li>
		            <li><a href="">Онлайн-магазин</a></li>
		            <li><a href="">Дилеры</a></li>
		            <li>
		                <a href="">Ресторан</a>
		                <ul>
		                    <li><a href="">Меню</a></li>
		                    <li><a href="">Услуги</a></li>
		                    <li><a href="">Контакты</a></li>
		                    <li><a href="">Охотничьи рецепты</a></li>
		                </ul>
		            </li>
		        </ul>
		
		        <!-- -->
		    </div>
		</nav>

		<div class="main__inner">
			<div class="container">

				<div class="static-page">
					<div class="title-page">
		            	<h1>Дилеры</h1>
	              	</div>

					<p> За 20 лет работы на российском рынке оружия и боеприпасов, компания «Кольчуга» стала крупнейшим оружейным холдингом. Одно из наших главных достижений - надежные деловые отношения с российскими партнерами, успешное сотрудничество с которыми помогает компании развиваться и предлагать покупателям еще больше новой и качественной продукции от ведущих мировых оружейников.</p>
					<p>Индивидуальный подход и гибкая система скидок являются приоритетом в нашей работе. Если вы хотите сотрудничать с нами, свяжитесь с менеджерами оптовых отделов.</p>

					<div class="dealers">
						<div class="dealers--left">
							<h3>Оружие, оптика, ножи, аксессуары</h3>
							<div class="dealers__img">
								<img alt="" src="upload/dealers_1.png">
							</div>
							<div class="dealers__list">
								Blaser, Bushnell, Clever, Crosman, CZ, Fabarm, Fiocchi, Gamo, Glock, H&amp;K, Mauser, Norma, Sauer, Sig Sauer, Swarovski, Walther, Zeiss, Zoli
							</div>
							<div class="dealers__phone">
								<b><a href="tel:+7 (495) 698-17-79">+7 (495) 698-17-79</a></b>
								<b><a href="tel:+7 (495) 698-10-23">+7 (495) 698-10-23</a></b>
							</div>
						</div>
						<div class="dealers--right">
							<h3>Одежда, обувь, сувениры</h3>
							<div class="dealers__img">
								<img alt="" src="upload/dealers_2.png">
							</div>
							<div class="dealers__list">
								Baron, Blaser, Habsburg, Hubertus, Laksen, Le Сhameau, MacWet, Monte Sport, Sportchief, Swed Team, Thermo Function, Unisport
							</div>
							<div class="dealers__phone">
								<b><a href="tel:+7 (495) 698 31 91">+7 (495) 698 31 91</a></b>
							</div>
						</div>
					</div>


<table class="table table__dealers">
	<tbody>
		<tr>
			<th>Абакан</th>
			<td>ООО Калибр-Центр плюс</td>
			<td><a href="tel:(83902) 28-54-88">(83902) 28-54-88</a></td>
		</tr>
		<tr>
			<th>Адыгея</th>
			<td>ГБУ Республики Адыгея "ЦСП СК Республики Адыгея"</td>
			<td><a href="tel:(87722) 53-47-74">(87722) 53-47-74</a>, <a href="tel:(87722) 56-94-14">56-94-14</a></td>
		</tr>
		<tr>
			<th>Анапа</th>
			<td>ООО Сафари</td>
			<td>(918) 66-84-500</td>
		</tr>
		<tr>
			<th>Ангарск</th>
			<td>ООО Страж фирма</td>
			<td>(3955) 54-60-86</td>
		</tr>
		<tr>
			<th>Апрелевка</th>
			<td>ООО Артемида-11</td>
			<td>9152440221, доб. 9152402030</td>
		</tr>
		<tr>
			<th>Арсеньев</th>
			<td>ООО Зверобой</td>
			<td>(4236) 4-42-76 ; 8(42361)-4-41-07</td>
		</tr>
		<tr>
			<th>Артём</th>
			<td>ООО Святобор</td>
			<td>(42337) 4-35-95</td>
		</tr>
		<tr>
			<th>Архангельск</th>
			<td>ООО Зенит</td>
			<td>(8182) 65-93-11</td>
		</tr>
		<tr>
			<th>Архангельск</th>
			<td>ООО МАГНУМ</td>
			<td>8(8182) 290-811,290-818</td>
		</tr>
		<tr>
			<th>Астрахань</th>
			<td>ООО Два Кита</td>
			<td>(8512) 20 10 17</td>
		</tr>
		<tr>
			<th>Астрахань</th>
			<td>ООО Калибр</td>
			<td>(8512) 30-64-50</td>
		</tr>
		<tr>
			<th>Астрахань</th>
			<td>ООО Максим</td>
			<td>(8512) 34-74-17;23-80-00</td>
		</tr>
		<tr>
			<th>Балашиха</th>
			<td>ООО Барклай-С Оружейный Салон</td>
			<td>(495) 521-82-98</td>
		</tr>
		<tr>
			<th>Барнаул</th>
			<td>ООО Алтиж ТД</td>
			<td>(3852)345602, доб. 34-16-51</td>
		</tr>
		<tr>
			<th>Барнаул</th>
			<td>ООО Барс</td>
			<td>(3852) 63-26-08, 65-05-72</td>
		</tr>
		<tr>
			<th>Барнаул</th>
			<td>ООО Медвежий угол</td>
			<td>(3852) 45-19-16, доб. 45-19-22</td>
		</tr>
		<tr>
			<th>Барнаул</th>
			<td>ООО Трофей</td>
			<td>(3852) 29-00-06; 227-02-05</td>
		</tr>
		<tr>
			<th>Белгород</th>
			<td>ООО Ранг 2</td>
			<td>(4722) 35-32-01</td>
		</tr>
		<tr>
			<th>Белгород</th>
			<td>ООО Ноябрь</td>
			<td>(4722) 33-04-71</td>
		</tr>
		<tr>
			<th>Благовещенск</th>
			<td>ООО Амурский оружейный двор</td>
			<td>(4162) 51-44-35</td>
		</tr>
		<tr>
			<th>Брянск</th>
			<td>ООО Щит-Сервис-Динамо</td>
			<td>(4832) 74-06-80, доб. 74-32-38</td>
		</tr>
		<tr>
			<th>Брянск</th>
			<td>ООО Стрелковый клуб Брянск</td>
			<td>(4832) 74-87-94, доб. 103,119</td>
		</tr>
		<tr>
			<th>Брянск</th>
			<td>ООО Охотник</td>
			<td>(4832) 74-36-15</td>
		</tr>
		<tr>
			<th>Буденовск</th>
			<td>ООО Сфинкс</td>
			<td>(86559) 2-52-00, 2-52-40</td>
		</tr>
		<tr>
			<th>В. Новгород</th>
			<td>ООО Оружие-Т</td>
			<td>(8162) 73-90-79, доб. 77-22-96</td>
		</tr>
		<tr>
			<th>В. Новгород</th>
			<td>ИП Суравков О.В.</td>
			<td>(8162) 772296,777543</td>
		</tr>
		<tr>
			<th>Валуйки</th>
			<td>ООО Сафари-Спорт</td>
			<td>(47236) 3-04-52</td>
		</tr>
		<tr>
			<th>Вилюйск</th>
			<td>ООО Булт-Тур</td>
			<td>8 (914) 109-71-67</td>
		</tr>
		<tr>
			<th>Владивосток</th>
			<td>ООО Меркурий</td>
			<td>(4232)614993</td>
		</tr>
		<tr>
			<th>Владивосток</th>
			<td>ООО Оружейный мир</td>
			<td>(423) 233-02-21</td>
		</tr>
		<tr>
			<th>Владивосток</th>
			<td>ООО Резонанс</td>
			<td>(423) 2200406</td>
		</tr>
		<tr>
			<th>Владивосток</th>
			<td>ООО Снайпер</td>
			<td>(4232) 22-39-75</td>
		</tr>
		<tr>
			<th>Владивосток</th>
			<td>ООО Стрелок и Ко</td>
			<td>(4232) 38-50-09</td>
		</tr>
		<tr>
			<th>Владикавказ</th>
			<td>ООО Охотник-рыболов</td>
			<td>(8672) 53-57-13, 54-79-45</td>
		</tr>
		<tr>
			<th>Владимир</th>
			<td>ООО Щит и меч</td>
			<td>(4922) 21-17-16</td>
		</tr>
		<tr>
			<th>Владимир</th>
			<td>ООО АТЕМИ</td>
			<td>(4922) 37-23-62, доб. 967-15-04</td>
		</tr>
		<tr>
			<th>Владимир</th>
			<td>ООО Берлога</td>
			<td>8-904-039-1019</td>
		</tr>
		<tr>
			<th>Волгоград</th>
			<td>ООО Артемида</td>
			<td>(8442) 72-57-04, 36-88-28</td>
		</tr>
		<tr>
			<th>Волгоград</th>
			<td>ООО Веста</td>
			<td>(8442) 76-14-34</td>
		</tr>
		<tr>
			<th>Волгоград</th>
			<td>ООО Мир охоты-Волгоград</td>
			<td>(8442) 78-00-78</td>
		</tr>
		<tr>
			<th>Волгоград</th>
			<td>ООО Охотник-1 Магазин</td>
			<td>(8442) 31-93-75</td>
		</tr>
		<tr>
			<th>Волгоград</th>
			<td>ООО Охотник-3 Магазин</td>
			<td>(8442) 38-55-29 факс 37-29-55</td>
		</tr>
		<tr>
			<th>Волгоград</th>
			<td>ООО Русское оружие</td>
			<td>(8442) 22-91-68, доб. 8-906-173-14-12</td>
		</tr>
		<tr>
			<th>Волгодонск</th>
			<td>ООО Мир охоты "Золотой фазан"</td>
			<td>(8639) 230606</td>
		</tr>
		<tr>
			<th>Вологда</th>
			<td>ЗАО Барс-1</td>
			<td>(8172) 21-05-10</td>
		</tr>
		<tr>
			<th>Вологда</th>
			<td>ООО МедведЪ</td>
			<td>(8172) 52-28-52</td>
		</tr>
		<tr>
			<th>Вологда</th>
			<td>ИП Проворов В.В.</td>
			<td>(8172) 52-30-60</td>
		</tr>
		<tr>
			<th>Вологда</th>
			<td>ИП Филиппова Ю.Е.</td>
			<td>(8172) 52-28-52, доб. 52-30-60</td>
		</tr>
		<tr>
			<th>Воронеж</th>
			<td>ООО 13-й Калибр</td>
			<td>(473) 257-13-31,257-13-13</td>
		</tr>
		<tr>
			<th>Воронеж</th>
			<td>ООО АллигАтор</td>
			<td>(473) 233-37-10, доб. 8-961-614-06-04</td>
		</tr>
		<tr>
			<th>Воронеж</th>
			<td>ООО Алмаз В фирма</td>
			<td>(4732) 39-00-91</td>
		</tr>
		<tr>
			<th>Воронеж</th>
			<td>ООО Русская охота</td>
			<td>(473) 241-82-54, доб. 274-72-62</td>
		</tr>
		<tr>
			<th>Воронеж</th>
			<td>ООО Охотник и рыболов</td>
			<td>(4732) 26-57-56</td>
		</tr>
		<tr>
			<th>Воронеж</th>
			<td>ООО Динамо</td>
			<td>(4732) 55-09-14</td>
		</tr>
		<tr>
			<th>Вятские Поляны</th>
			<td>ООО Молот армз</td>
			<td>(83334) 7-07-07, доб. 7-34-83</td>
		</tr>
		<tr>
			<th>Гай</th>
			<td>ООО Стрелец</td>
			<td>(35362) 4-11-12</td>
		</tr>
		<tr>
			<th>Десногорск</th>
			<td>ООО Охотник</td>
			<td>(48153) 31284</td>
		</tr>
		<tr>
			<th>Дзержинск</th>
			<td>ООО Ягуар-2</td>
			<td>(8313) 32-57-58</td>
		</tr>
		<tr>
			<th>Дзержинский</th>
			<td>ООО Альфа Технологии</td>
			<td>(495) 550-54-57</td>
		</tr>
		<tr>
			<th>Димитровград</th>
			<td>ООО Стрелец</td>
			<td>(84235) 7-00-63, доб. 7-00-60</td>
		</tr>
		<tr>
			<th>Дмитров</th>
			<td>ООО Галлиус-Д</td>
			<td>(49622) 4-32-00</td>
		</tr>
		<tr>
			<th>Дубна</th>
			<td>ООО Велес</td>
			<td>(496) 212-80-81, 8-903-110-03-19</td>
		</tr>
		<tr>
			<th>Ейск</th>
			<td>ООО Магнум Плюс</td>
			<td>(86132) 2-04-49, 2-37-17 8-861-322-3717</td>
		</tr>
		<tr>
			<th>Екатеринбург</th>
			<td>ООО Бурый медведь</td>
			<td>(343) 376-46-05 ф 376-48-51</td>
		</tr>
		<tr>
			<th>Екатеринбург</th>
			<td>ООО Орикс</td>
			<td>7 (902) 873-37-51</td>
		</tr>
		<tr>
			<th>Екатеринбург</th>
			<td>ООО Уральская Экономическая Марка</td>
			<td>(343) 375-21-31</td>
		</tr>
		<tr>
			<th>Екатеринбург</th>
			<td>ООО УТК-Арсенал</td>
			<td>(343) 232-32-89,2541650, 8-928-162-01-77</td>
		</tr>
		<tr>
			<th>Екатеринбург</th>
			<td>ООО Центро</td>
			<td>(343) 266-66-61, доб. 322-03-12</td>
		</tr>
		<tr>
			<th>Елец</th>
			<td>Мир охоты</td>
			<td>(47467) 5-43-41</td>
		</tr>
		<tr>
			<th>Железногорск</th>
			<td>ООО Охотничий Дом</td>
			<td>(925) 779-98-02, <a href="tel:">+7(471)484-41-02</td>
		</tr>
		<tr>
			<th>Железнодорожный</th>
			<td>ООО Мил-Дот</td>
			<td>8-926-531-35-53</td>
		</tr>
		<tr>
			<th>Иваново</th>
			<td>ООО Росто-К</td>
			<td>(4932) 56-43-41</td>
		</tr>
		<tr>
			<th>Иваново</th>
			<td>ЧОУ ДО "ЦПС "Профессионал"</td>
			<td>(4932) 938-168</td>
		</tr>
		<tr>
			<th>Иваново</th>
			<td>ООО ДИНАМО ОРУЖЕЙНЫЙ ЦЕНТР</td>
			<td>(4932) 325459 (4932) 497323</td>
		</tr>
		<tr>
			<th>Ижевск</th>
			<td>ООО Байкал</td>
			<td>(3412) 72-33-66, 90-42-40, 90-42-37, доб. факс 93-52-51</td>
		</tr>
		<tr>
			<th>Ижевск</th>
			<td>ООО Ижевские ружья</td>
			<td>(3412) 66-43-34, 65-84-40,41,42, доб. 68-80-75</td>
		</tr>
		<tr>
			<th>Ижевск</th>
			<td>ООО Ижевский Арсенал</td>
			<td>(3412) 90-45-32, факс 90-45-31</td>
		</tr>
		<tr>
			<th>Ижевск</th>
			<td>ООО Орбита ТД</td>
			<td>(3412) 60-98-11</td>
		</tr>
		<tr>
			<th>Ижевск</th>
			<td>ООО Ружейная компания ГОУ</td>
			<td>(3412) 65-85-36</td>
		</tr>
		<tr>
			<th>Йошкар-Ола</th>
			<td>ООО Марийская охота</td>
			<td>(8362) 42-88-95, доб. 45-18-24</td>
		</tr>
		<tr>
			<th>Йошкар-Ола</th>
			<td>ООО Русская охота</td>
			<td>(8362) 55-62-65</td>
		</tr>
		<tr>
			<th>Иркутск</th>
			<td>ООО АРСЕНАЛ-СИБИРЬ</td>
			<td>(3955) 61-72-82</td>
		</tr>
		<tr>
			<th>Иркутск</th>
			<td>ООО ЛеМаС</td>
			<td>(3952) 33-03-39 ф.54-70-84,70-89-04</td>
		</tr>
		<tr>
			<th>Иркутск</th>
			<td>АО Охотник на Тихвинской</td>
			<td>(3952) 333-133, доб. 258-008</td>
		</tr>
		<tr>
			<th>Иркутск</th>
			<td>ЗАО Паритет Плюс</td>
			<td>(3952) 33-31-33, 25-80-08</td>
		</tr>
		<tr>
			<th>Иркутск</th>
			<td>ООО Сибирские стрелки</td>
			<td>(3952) 33-08-03, доб. 53-42-75</td>
		</tr>
		<tr>
			<th>Иркутск</th>
			<td>ООО Страж-2000</td>
			<td>(3952)24-29-81</td>
		</tr>
		<tr>
			<th>Казань</th>
			<td>ЗАО Оружейный Дом</td>
			<td>(843) 519-02-90, 52-66-589</td>
		</tr>
		<tr>
			<th>Казань</th>
			<td>ООО Охотник и Рыболов</td>
			<td>(8435) 55-07-32</td>
		</tr>
		<tr>
			<th>Калининград</th>
			<td>ООО Арсенал 1</td>
			<td>(4012) 99-15-40</td>
		</tr>
		<tr>
			<th>Калининград</th>
			<td>ООО Балтийский оружейник</td>
			<td>(4012) 328852</td>
		</tr>
		<tr>
			<th>Калининград</th>
			<td>ООО Снайпер</td>
			<td>(4012) 91-17-56</td>
		</tr>
		<tr>
			<th>Калуга</th>
			<td>ООО Автодебют&nbsp;</td>
			<td>(4842) 77-00-02</td>
		</tr>
		<tr>
			<th>Калуга</th>
			<td>ООО ОХОТА-КАЛУГА</td>
			<td>8 (4842) 73-69-23</td>
		</tr>
		<tr>
			<th>Камышин</th>
			<td>ООО Ягуар</td>
			<td>(8445) 79-02-11</td>
		</tr>
		<tr>
			<th>Каневская</th>
			<td>ООО Арсенал и К</td>
			<td>(86164)7-36-74, 7 965 465 78 02</td>
		</tr>
		<tr>
			<th>Кемерово</th>
			<td>ООО Альбатрос</td>
			<td>(3842) 561156,544564</td>
		</tr>
		<tr>
			<th>Кемерово</th>
			<td>ООО Сибирская оружейная палата</td>
			<td>(3842) 64-46-59</td>
		</tr>
		<tr>
			<th>Кемерово</th>
			<td>ООО Стрелок</td>
			<td>(3842)36-61-84 факс 34-89-67</td>
		</tr>
		<tr>
			<th>Кемерово</th>
			<td>ООО ТЕЛОХРАНИТЕЛЬ</td>
			<td>(3842) 36-28-83,362571</td>
		</tr>
		<tr>
			<th>Кемерово</th>
			<td>ООО Хантер Клуб</td>
			<td>(3842) 28-09-00, доб. 28-05-54</td>
		</tr>
		<tr>
			<th>Киров</th>
			<td>ООО Вятская охота</td>
			<td>(8332) 37-22-65</td>
		</tr>
		<tr>
			<th>Киров</th>
			<td>ООО Защита-С</td>
			<td>(8332) 64-75-04, доб. 64-32-96</td>
		</tr>
		<tr>
			<th>Киров</th>
			<td>ООО ЭКСТРИМ</td>
			<td>(8332) 603001, доб. 60-30-02</td>
		</tr>
		<tr>
			<th>Климовск</th>
			<td>ООО Темп</td>
			<td>(495)996-89-08, доб. (495)517-93-21</td>
		</tr>
		<tr>
			<th>Коломна</th>
			<td>ООО Калита</td>
			<td>(496) 618-66-06</td>
		</tr>
		<tr>
			<th>Комсомольск на Амуре</th>
			<td>ООО ИТЦ</td>
			<td>(4217) 55-07-59</td>
		</tr>
		<tr>
			<th>Копейск</th>
			<td>ООО Беркут</td>
			<td>(35139) 30610</td>
		</tr>
		<tr>
			<th>Королёв</th>
			<td>ООО Следопыт</td>
			<td>(495) 516-94-34</td>
		</tr>
		<tr>
			<th>Костома</th>
			<td>ООО Охота</td>
			<td>(4942) 62-46-14, доб. 62-46-32</td>
		</tr>
		<tr>
			<th>Кострома</th>
			<td>ООО Легион</td>
			<td>(4942) 624601</td>
		</tr>
		<tr>
			<th>Краснодар</th>
			<td>ООО Арсенал</td>
			<td>(8617) 303-401, 962 851-96-90, 905 391-98-95</td>
		</tr>
		<tr>
			<th>Краснодар</th>
			<td>ООО Беркут</td>
			<td>(861) 260-46-11</td>
		</tr>
		<tr>
			<th>Краснодар</th>
			<td>ООО Бриз</td>
			<td>(861) 259-86-06</td>
		</tr>
		<tr>
			<th>Краснодар</th>
			<td>ООО Мир охоты</td>
			<td>(8612) 34-33-59,343363</td>
		</tr>
		<tr>
			<th>Красноярск</th>
			<td>ООО Лонта</td>
			<td>(3912) 62-17-33, доб. 62-00-80</td>
		</tr>
		<tr>
			<th>Красноярск</th>
			<td>ООО Охота Рыбалка Сибири</td>
			<td>(3912) 27-77-28</td>
		</tr>
		<tr>
			<th>Красноярск</th>
			<td>ООО Охотничий клуб</td>
			<td>(3912) 55-16-28,114137</td>
		</tr>
		<tr>
			<th>Красноярск</th>
			<td>ООО Солидарность</td>
			<td>(391) 227-43-40, 227-9938</td>
		</tr>
		<tr>
			<th>Кузнецк</th>
			<td>ООО Охотник</td>
			<td>(84157) 3-06-69, доб. 3-26-78 факс 3-00-78</td>
		</tr>
		<tr>
			<th>Курган</th>
			<td>Магнум-М</td>
			<td>(912) 579-57-92</td>
		</tr>
		<tr>
			<th>Курск</th>
			<td>ООО РАНГ</td>
			<td>(4712) 52-75-22</td>
		</tr>
		<tr>
			<th>Курск</th>
			<td>ООО Стрелок</td>
			<td>(4712) 51-43-81</td>
		</tr>
		<tr>
			<th>Курск</th>
			<td>ООО Мастер плюс</td>
			<td>(4712) 54-66-13</td>
		</tr>
		<tr>
			<th>Курск</th>
			<td>ООО Кольчуга Курск</td>
			<td>(4712) 73-45-37</td>
		</tr>
		<tr>
			<th>Лабытнанги</th>
			<td>ООО СПЕКТР</td>
			<td>(34992) 2-27-33, доб. 2-25-07</td>
		</tr>
		<tr>
			<th>Липецк</th>
			<td>ООО Арсенал</td>
			<td>(4742) 47-81-66</td>
		</tr>
		<tr>
			<th>Липецк</th>
			<td>ЗАО Рыболов-Охотник</td>
			<td>(4742) 40-17-69</td>
		</tr>
		<tr>
			<th>Липецк</th>
			<td>Липецкий Металллург АНФООСК</td>
			<td>(4742) 43-13-44</td>
		</tr>
		<tr>
			<th>Липецк</th>
			<td>Оружейный двор</td>
			<td>(4742) 27-45-38, доб. 8-915-551-66-96</td>
		</tr>
		<tr>
			<th>Магадан</th>
			<td>ЗАО Оборона</td>
			<td>(4132) 60-68-33</td>
		</tr>
		<tr>
			<th>Магнитогорск</th>
			<td>ООО Маг-Интек</td>
			<td>(3519) 30-97-61</td>
		</tr>
		<tr>
			<th>Магнитогорск</th>
			<td>ООО Пеликан</td>
			<td>(3519) 344812</td>
		</tr>
		<tr>
			<th>Майкоп</th>
			<td>ООО Цель</td>
			<td>(8772) 555-184, 8-918-427-50-68</td>
		</tr>
		<tr>
			<th>Минусинск</th>
			<td>ООО Сибирский зверобой</td>
			<td>(962) 849-24-91</td>
		</tr>
		<tr>
			<th>Михайловка</th>
			<td>ООО Вико</td>
			<td>(84463) 29244; (8442)94-41-41</td>
		</tr>
		<tr>
			<th>Моздок</th>
			<td>ООО Ретро</td>
			<td>(86736) 23115</td>
		</tr>
		<tr>
			<th>Москва</th>
			<td>МСОО "МООиР"</td>
			<td>(495) 628-38-79, доб. 623-97-86</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>Авангард ЦПС</td>
			<td>(495) 651-62-15</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Армс Групп</td>
			<td>(495) 959-15-60</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО АРСЕНАЛ Оружейный салон</td>
			<td>(499) 253-63-60 ф253-87-76, доб. 253-45-00</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ОО Артемида ПК и КТ</td>
			<td>(495) 611-02-10, доб. 611-33-05</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>Выстрел ССК</td>
			<td>(495) 5148161</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ЗАО Защита</td>
			<td>625-88-94,6258906</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО ЗВЕРОБОЙ-АРМС</td>
			<td>(095) 424-48-66</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО ЛитС Ягд унд Ваффен</td>
			<td>(495) 937-63-47</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Лучник-Р</td>
			<td>7 (800) 775-56-18</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Марка</td>
			<td>(495) 739-54-88</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ЗАО МЦТО</td>
			<td>(495) 545-43-58,</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Оптитех</td>
			<td>(926) 208-75-95</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Оптические системы</td>
			<td>(495) 646-07-01</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Охотник на Головинском</td>
			<td>(495) 785-33-53, доб. 785-33-54</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Премиум Оптикс</td>
			<td>(495) 545-77-20</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Промтехнология</td>
			<td>(495) 647-88-66, 678-09-76</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Рекон</td>
			<td>(495) 724 35 20</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Ролен</td>
			<td>8(499)921-21-21</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Рыбак-М</td>
			<td>(499) 737-63-20</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО Формекс-Арсенал</td>
			<td>345-12-00, доб. 345-12-01</td>
		</tr>
		<tr>
			<th>МОСКВА</th>
			<td>ООО ЦЭК</td>
			<td>(495) 6496039, доб. 9679680</td>
		</tr>
		<tr>
			<th>Мурманск</th>
			<td>ООО Арсенал</td>
			<td>(8152) 454-387, 288-786,288-778</td>
		</tr>
		<tr>
			<th>Мурманск</th>
			<td>ООО Кречет</td>
			<td>(8152) 52-63-63, доб. 52-29-29</td>
		</tr>
		<tr>
			<th>Мурманск</th>
			<td>ООО Северная Оружейная Компания</td>
			<td>(8152) 20-11-75, 8-951-296-19-91</td>
		</tr>
		<tr>
			<th>Мытищи</th>
			<td>ООО Арсенал-М</td>
			<td>(498) 684-91-47</td>
		</tr>
		<tr>
			<th>Мытищи</th>
			<td>ООО Арсенал-Р</td>
			<td>(495) 583-43-56</td>
		</tr>
		<tr>
			<th>Мытищи</th>
			<td>ЗАО Оружейный Дом</td>
			<td>7 (495) 583-84-46; 586-13-74; 786-54-43</td>
		</tr>
		<tr>
			<th>Н. Новгород</th>
			<td>ООО Баллистикс Бэй</td>
			<td>(831) 428-53-11, доб. 428-53-09Б 8 915 933 51 65</td>
		</tr>
		<tr>
			<th>Н. Новгород</th>
			<td>ООО Зверобой Н-Н</td>
			<td>(831) 278-59-59</td>
		</tr>
		<tr>
			<th>Н. Новгород</th>
			<td>ООО Нижегородский Оружейный Центр</td>
			<td>(831) 248-34-67</td>
		</tr>
		<tr>
			<th>Н. Новгород</th>
			<td>ООО Охота и оружие</td>
			<td>(8314) 30-32-09,300320</td>
		</tr>
		<tr>
			<th>Н. Новгород</th>
			<td>ООО Престиж</td>
			<td>(831) 436-60-75, доб. 7 910-793-39-92</td>
		</tr>
		<tr>
			<th>Н. Новгород</th>
			<td>ЗАО Снайпер</td>
			<td>(8312)50-95-01;50-95-02</td>
		</tr>
		<tr>
			<th>Н. Новгород</th>
			<td>ООО Экспертная лаборатория "Калибр"</td>
			<td>(831) 278-44-18</td>
		</tr>
		<tr>
			<th>Нижневартовск</th>
			<td>ООО Адмирал</td>
			<td>(3466) 67-15-53</td>
		</tr>
		<tr>
			<th>Новокузнецк</th>
			<td>ООО Защита Сервис</td>
			<td>(3843) 72-30-78, 89039416177</td>
		</tr>
		<tr>
			<th>Новокузнецк</th>
			<td>ООО Ратник</td>
			<td>(3843) 74-49-80, доб. 74-51-46</td>
		</tr>
		<tr>
			<th>Новокузнецк</th>
			<td>ООО Шкипер</td>
			<td>(3843) 74-07-05</td>
		</tr>
		<tr>
			<th>Новосибирск</th>
			<td>ООО Активный отдых</td>
			<td>( 383)2493249</td>
		</tr>
		<tr>
			<th>Новосибирск</th>
			<td>ООО Арсенал Новосибирск</td>
			<td>(383) 209-13-77</td>
		</tr>
		<tr>
			<th>Новосибирск</th>
			<td>ООО Арсенал</td>
			<td>(383) 209-13-77</td>
		</tr>
		<tr>
			<th>Новосибирск</th>
			<td>ООО Картечь</td>
			<td>(383) 201-20-22, доб. 201-15-85</td>
		</tr>
		<tr>
			<th>Новосибирск</th>
			<td>ООО ОТО</td>
			<td>(383) 364 01 00</td>
		</tr>
		<tr>
			<th>Новосибирск</th>
			<td>ООО Рыбохот</td>
			<td>(383) 209-13-77; 223-99-78</td>
		</tr>
		<tr>
			<th>Новосибирск</th>
			<td>ООО Сибимпэкс-Регион</td>
			<td>(383) 364-01-00, доб. 364-03-00</td>
		</tr>
		<tr>
			<th>Новосибирск</th>
			<td>ООО Сибирь 7 ТД</td>
			<td>(383) 364-01-00, доб. 364-03-00</td>
		</tr>
		<tr>
			<th>Новосибирск</th>
			<td>ООО Снаряжение охотника</td>
			<td>(383) 379-01-00, доб. 341-70-05</td>
		</tr>
		<tr>
			<th>Новосибирск</th>
			<td>ООО Экстримторг</td>
			<td>(383) 208-13-77</td>
		</tr>
		<tr>
			<th>Новочеркасск</th>
			<td>ООО Магазин Охотник №1</td>
			<td>(8635) 26-79-52</td>
		</tr>
		<tr>
			<th>Ногинск</th>
			<td>ООО Макарыч</td>
			<td>7 (926) 257-16-28</td>
		</tr>
		<tr>
			<th>Ногинск</th>
			<td>ООО Гама</td>
			<td>(496) 516-53-68 ,8-903-212-56-31</td>
		</tr>
		<tr>
			<th>Нягань</th>
			<td>ООО Сибукринвест</td>
			<td>(34672) 6-20-72</td>
		</tr>
		<tr>
			<th>Обнинск</th>
			<td>ЗАО Ново-Обнинск</td>
			<td>(48439) 7-02-67,6-33-98</td>
		</tr>
		<tr>
			<th>Одинцово</th>
			<td>ООО Вепрь ООО</td>
			<td>(495) 599-53-26</td>
		</tr>
		<tr>
			<th>Омск</th>
			<td>ООО Мир охоты - Омск</td>
			<td>(3812) 92-52-22</td>
		</tr>
		<tr>
			<th>Омск</th>
			<td>ООО Омский Охотничье-Рыболовный Союз</td>
			<td>(3812) 31-96-41</td>
		</tr>
		<tr>
			<th>Омск</th>
			<td>ООО Оружие Магазин</td>
			<td>(3812) 31-31-27</td>
		</tr>
		<tr>
			<th>Омск</th>
			<td>ООО Снайпер</td>
			<td>(3812) 72-02-72</td>
		</tr>
		<tr>
			<th>Орел</th>
			<td>ООО Атеми-Орел</td>
			<td>(4862) 76-07-28 факс 45-91-70</td>
		</tr>
		<tr>
			<th>Оренбург</th>
			<td>ООО Спартак Плюс</td>
			<td>(3532) 78-06-11, доб. 78-11-16</td>
		</tr>
		<tr>
			<th>Оренбург</th>
			<td>ООО Уральский Охотник</td>
			<td>(3532) 99-12-08</td>
		</tr>
		<tr>
			<th>Оренбург</th>
			<td>ООО Арсенал</td>
			<td>(3532) 43-42-10</td>
		</tr>
		<tr>
			<th>Орехово-Зуево</th>
			<td>ООО Пеликан</td>
			<td>(496) 4234707(многоканальный)</td>
		</tr>
		<tr>
			<th>Орск</th>
			<td>ООО Барс</td>
			<td>(3537) 236872</td>
		</tr>
		<tr>
			<th>Пенза</th>
			<td>ООО Охотничий клуб</td>
			<td>(8412) 99-00-10, 99 00 09</td>
		</tr>
		<tr>
			<th>Пермь</th>
			<td>ООО Ирбис</td>
			<td>(342) 282-39-67, доб. 262-08-54</td>
		</tr>
		<tr>
			<th>Пермь</th>
			<td>ООО Кадьяк</td>
			<td>(342) 221-10-43</td>
		</tr>
		<tr>
			<th>Пермь</th>
			<td>ООО Оружейник</td>
			<td>(3422) 37-15-58 ф. 36-25-10</td>
		</tr>
		<tr>
			<th>Пермь</th>
			<td>ООО Партизан</td>
			<td>(342) 244-33-59</td>
		</tr>
		<tr>
			<th>Петропавловск-Камчатский</th>
			<td>ООО Охота и Рыболовство</td>
			<td>(41522) 7-44-69,2435312</td>
		</tr>
		<tr>
			<th>Подольск</th>
			<td>ООО Охота</td>
			<td>(4967) 54-97-23, 903 710-35-82</td>
		</tr>
		<tr>
			<th>Пушкино</th>
			<td>ООО Карм+</td>
			<td>(495) 993-61-18</td>
		</tr>
		<tr>
			<th>Пятигорск</th>
			<td>ЗАО Стрелок</td>
			<td>(8793) 32-04-61факс,97-42-49 бух</td>
		</tr>
		<tr>
			<th>Раменское</th>
			<td>Оружейка ТК</td>
			<td>(496) 467-07-85, 467-02-74</td>
		</tr>
		<tr>
			<th>Реутов</th>
			<td>ООО Охотничий Клуб</td>
			<td>(495)761 55 45 (495) 545 37 30</td>
		</tr>
		<tr>
			<th>Реутов</th>
			<td>ООО Артемида-3</td>
			<td>(495) 545-37-30 , доб. 107</td>
		</tr>
		<tr>
			<th>Ростоа</th>
			<td>ООО Уткино</td>
			<td>89281620177</td>
		</tr>
		<tr>
			<th>Ростов на дону</th>
			<td>ООО Амур</td>
			<td>Уткино ООО Ростов</td>
		</tr>
		<tr>
			<th>Ростов-на-Дону</th>
			<td>ООО ВЕНАТОР</td>
			<td>(8632) 90-79-54, факс 90-71-82</td>
		</tr>
		<tr>
			<th>Ростов-на-Дону</th>
			<td>ООО ТАЙГЕР-ГАН</td>
			<td>(863) 303-21-69, <a href="tel:">+7 495 660 35 52, <a href="tel:">+7 800 555 18 40, 3032097/504</td>
		</tr>
		<tr>
			<th>Ростов-на-Дону</th>
			<td>ООО Царская охота</td>
			<td>(863) 204-17-00</td>
		</tr>
		<tr>
			<th>Рязань</th>
			<td>ООО Автопример</td>
			<td>8-915-627-01-10</td>
		</tr>
		<tr>
			<th>Рязань</th>
			<td>ООО Споринт</td>
			<td>(4912) 21-27-00</td>
		</tr>
		<tr>
			<th>Рязань</th>
			<td>ООО Фаворит</td>
			<td>(4912) 24-69-47,ф246946</td>
		</tr>
		<tr>
			<th>Самара</th>
			<td>ООО Дом охотника</td>
			<td>(846) 269-52-97, 270-54-56</td>
		</tr>
		<tr>
			<th>Самара</th>
			<td>ООО Мир охоты-Самара</td>
			<td>(903) 300-88-98</td>
		</tr>
		<tr>
			<th>Самара</th>
			<td>ООО Оружейный двор</td>
			<td>(8462) 68-95-43</td>
		</tr>
		<tr>
			<th>Самара</th>
			<td>ООО Оружие Снасти</td>
			<td>(846) 334-13-69</td>
		</tr>
		<tr>
			<th>Самара</th>
			<td>ООО ОРУЖИЕ СНАСТИ</td>
			<td>(8462)70-50-69, факс (8462)63-07-04, доб. 334-13-69,927-37-06</td>
		</tr>
		<tr>
			<th>Самара</th>
			<td>ООО Охотник</td>
			<td>(8462)62-35-22</td>
		</tr>
		<tr>
			<th>Самара</th>
			<td>ООО Охотомания</td>
			<td>(846) 3210001, доб. 3210002</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ИП Александрова</td>
			<td>(960) 273-64-55</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ООО Барс</td>
			<td>(812) 234-91-29, доб. 234-47-73</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ООО Большая охота</td>
			<td>(812) 316-28-67</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ООО Ваффен бутик</td>
			<td>(812) 635-83-38</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ООО Ирис</td>
			<td>(812) 327-82-88</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ООО Карабин</td>
			<td>(812) 719-83-73 ф.272-46-76 327 08 04</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ООО Левша</td>
			<td>(812) 327-82-88</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ЗАО Левша</td>
			<td>(812) 327-82-88</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ООО Мир охоты Санкт-Петербург</td>
			<td>(812) 677-14-70</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ООО ОД2</td>
			<td>8(812)7852259, доб. 785-22-80</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ООО Оружейная линия</td>
			<td>(812) 290-90-90</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ООО Оружейный двор</td>
			<td>(812) 785-22-59,746-56-67, доб. 785-22-80</td>
		</tr>
		<tr>
			<th>Санкт-Петербург</th>
			<td>ООО Ресурс</td>
			<td>(812) 430-86-76</td>
		</tr>
		<tr>
			<th>Саранск</th>
			<td>ТД Родной край</td>
			<td>(8342) 47 95 93</td>
		</tr>
		<tr>
			<th>Саранск</th>
			<td>ООО Сапсан</td>
			<td>(8342) 47-90-86, доб. 48-22-00</td>
		</tr>
		<tr>
			<th>Саратов</th>
			<td>ИП Андреев А.Н.</td>
			<td>(8452) 43-49-15,43-49-16</td>
		</tr>
		<tr>
			<th>Саратов</th>
			<td>ИП Кистанова И.Ю.</td>
			<td>(8452) 23-36-07,77-08-54</td>
		</tr>
		<tr>
			<th>Саратов</th>
			<td>ООО Охотник</td>
			<td>(8452) 43-49-15, доб. 43-49-16</td>
		</tr>
		<tr>
			<th>Саратов</th>
			<td>ООО Тесткам</td>
			<td>(8452) 28-88-69</td>
		</tr>
		<tr>
			<th>Сафоново</th>
			<td>ООО Аксиома</td>
			<td>(48142) 21033, доб. 8-904-364-48-65</td>
		</tr>
		<tr>
			<th>Северодвинск</th>
			<td>ООО Тайга</td>
			<td>(81845) 6-53-53, доб. 6-86-76</td>
		</tr>
		<tr>
			<th>Селятино</th>
			<td>ООО Пэшн</td>
			<td>720-49-60, доб. 90-115</td>
		</tr>
		<tr>
			<th>Сергиев Посад</th>
			<td>ООО Альбатрос</td>
			<td>(496) 551-37-42</td>
		</tr>
		<tr>
			<th>Сергиев Посад</th>
			<td>ООО Глобус</td>
			<td>(496) 547-80-99</td>
		</tr>
		<tr>
			<th>Славянск-на-Кубани</th>
			<td>ООО Кубань-охота СМ</td>
			<td>(86146) 4-03-81 ф 2-17-43, 918 443-10-69</td>
		</tr>
		<tr>
			<th>Смоленск</th>
			<td>ООО Партизан</td>
			<td>(4812) 650-935,408-660</td>
		</tr>
		<tr>
			<th>Сочи</th>
			<td>ООО КМФ</td>
			<td>8-918-308-48-93</td>
		</tr>
		<tr>
			<th>Сочи</th>
			<td>ООО Кольчуга</td>
			<td>(8622) 96-87-80</td>
		</tr>
		<tr>
			<th>Ставрополь</th>
			<td>ООО Ижевские ружья</td>
			<td>(8652) 27-09-55 37-30-00,355567</td>
		</tr>
		<tr>
			<th>Старая Купавна</th>
			<td>ООО ОД Стрелецкий-Экстрим</td>
			<td>(495) 765-91-19</td>
		</tr>
		<tr>
			<th>Старый Оскол</th>
			<td>Артемида</td>
			<td>(4725) 42-32-96</td>
		</tr>
		<tr>
			<th>Сургут</th>
			<td>ООО Беркут-2</td>
			<td>(3462) 261133</td>
		</tr>
		<tr>
			<th>Сургут</th>
			<td>ООО Охота на Рыбалку</td>
			<td>(3462) 22-33-55, доб. 22-35-56</td>
		</tr>
		<tr>
			<th>Сургут</th>
			<td>ИП Волкорез</td>
			<td>8 (3462) 935777</td>
		</tr>
		<tr>
			<th>Сыктывкар</th>
			<td>Дуплет</td>
			<td>(8212) 20-29-98</td>
		</tr>
		<tr>
			<th>Таганрог</th>
			<td>ООО Арсенал-Т</td>
			<td>(8634) 38-38-56, доб. 31-19-73</td>
		</tr>
		<tr>
			<th>Тамбов</th>
			<td>ООО Охотник</td>
			<td>(4752) 53-57-47</td>
		</tr>
		<tr>
			<th>Тверь</th>
			<td>ООО Арбалет</td>
			<td>(4822) 49-35-26</td>
		</tr>
		<tr>
			<th>Тверь</th>
			<td>Международный центр охоты и рыбалки</td>
			<td>(4822) 62-00-93</td>
		</tr>
		<tr>
			<th>Тимашевск</th>
			<td>ООО КУБАНЬ-ОХОТА ТИМАШЕВСК</td>
			<td>(918) 6483012</td>
		</tr>
		<tr>
			<th>Тольятти</th>
			<td>ООО Арсенал</td>
			<td>(8482) 73-20-20</td>
		</tr>
		<tr>
			<th>Томск</th>
			<td>ООО Пеликан</td>
			<td>(3822) 67-22-74,683347</td>
		</tr>
		<tr>
			<th>Томск</th>
			<td>ООО Салон-Оружие</td>
			<td>(3822) 51-48-64,51-03-14</td>
		</tr>
		<tr>
			<th>Томск</th>
			<td>Сибирская Оружейная Компания</td>
			<td>(3822) 51-48-64</td>
		</tr>
		<tr>
			<th>Томск</th>
			<td>ООО Спецкомплект</td>
			<td>(3822) 24-25-30, 24-40-54, 52-90-81</td>
		</tr>
		<tr>
			<th>Томск</th>
			<td>ООО Тайга</td>
			<td>(3822) 511-224 404095</td>
		</tr>
		<tr>
			<th>Томск</th>
			<td>ООО Оружие</td>
			<td>(3822) 51-48-64,51-03-14</td>
		</tr>
		<tr>
			<th>Тула</th>
			<td>ООО Тульский оружейный центр</td>
			<td>(4872) 31-94-11, (4872) 565807</td>
		</tr>
		<tr>
			<th>Тула</th>
			<td>ООО АТЕМИ</td>
			<td>(4872) 30-46-59, доб. 30-46-58</td>
		</tr>
		<tr>
			<th>Тула</th>
			<td>ООО Динамо Магазин</td>
			<td>(4872) 31-94-11, доб. 36-11-67</td>
		</tr>
		<tr>
			<th>Тюмень</th>
			<td>ООО Патрон</td>
			<td>(3452) 46-90-50, доб. 46-90-51</td>
		</tr>
		<tr>
			<th>Тюмень</th>
			<td>ООО Русская Охота</td>
			<td>(3452) 30-39-57 ;75-08-16; 30-52-51 30 93 85</td>
		</tr>
		<tr>
			<th>Тюмень</th>
			<td>ООО Старт ТД</td>
			<td>(3452) 409920</td>
		</tr>
		<tr>
			<th>Улан-Удэ</th>
			<td>ООО Выстрел</td>
			<td>(3012) 65-69-44, доб. 43-65-74</td>
		</tr>
		<tr>
			<th>Улан-Удэ</th>
			<td>ООО Дерсу Плюс</td>
			<td>(3012) 44-28-86, доб. 45-43-77</td>
		</tr>
		<tr>
			<th>Улан-Удэ</th>
			<td>ООО Стрелец</td>
			<td>(3012) 411577</td>
		</tr>
		<tr>
			<th>Улан-Удэ</th>
			<td>ООО Тип-топ</td>
			<td>(3012) 46-03-54</td>
		</tr>
		<tr>
			<th>Ульяновск</th>
			<td>ООО Атеми Ульяновск</td>
			<td>88422675315</td>
		</tr>
		<tr>
			<th>Ульяновск</th>
			<td>Диана ООО СМТО Ульяновск</td>
			<td>(8422) 21-34-77</td>
		</tr>
		<tr>
			<th>Ульяновск</th>
			<td>ООО Русская охота</td>
			<td>(8422) 65-42-75</td>
		</tr>
		<tr>
			<th>Ульяновск</th>
			<td>ЗАО Симбирский дом оружия</td>
			<td>(8422) 41-13-27, доб. 44-81-72</td>
		</tr>
		<tr>
			<th>Усть-Лабинск</th>
			<td>ООО Охотник Специализированный магазин</td>
			<td>(86135) 2-15-15, 2-18-69</td>
		</tr>
		<tr>
			<th>Уфа</th>
			<td>ООО Мир охоты - Уфа</td>
			<td>8-347-246-55-46</td>
		</tr>
		<tr>
			<th>Уфа</th>
			<td>ООО Омега ООО</td>
			<td>(347) 298-08-88, 235 22 02</td>
		</tr>
		<tr>
			<th>Уфа</th>
			<td>ООО Омега центр</td>
			<td>(347) 235-22-02, доб. 235-22-05</td>
		</tr>
		<tr>
			<th>Хабаровск</th>
			<td>ООО Витязь</td>
			<td>(4212) 32-44-94</td>
		</tr>
		<tr>
			<th>Хабаровск</th>
			<td>ООО Оружейный двор</td>
			<td>(4212)21-55-57, доб. 21-46-48</td>
		</tr>
		<tr>
			<th>Ханты-Мансийск</th>
			<td>ООО Оружейная лавка</td>
			<td>7 (908) 880 82 88</td>
		</tr>
		<tr>
			<th>Ханты-Мансийск</th>
			<td>ООО Русгрупп</td>
			<td>(34673) 2-98-11 факс 3-28-97</td>
		</tr>
		<tr>
			<th>Химки</th>
			<td>ООО Гранд-Охота</td>
			<td>575-10-10 ф.793-70-70</td>
		</tr>
		<tr>
			<th>Чебоксары</th>
			<td>ООО Ганс</td>
			<td>(8352) 22-34-56, доб. 62-89-51</td>
		</tr>
		<tr>
			<th>Чебоксары</th>
			<td>ООО Ловчий</td>
			<td>(8352) 22-41-01,22-41-00</td>
		</tr>
		<tr>
			<th>Челябинск</th>
			<td>ООО АРМС-СИТИ</td>
			<td>(351) 729-80-89</td>
		</tr>
		<tr>
			<th>Челябинск</th>
			<td>ООО Зорька</td>
			<td>(351) 790-78-82 / 790-93-28</td>
		</tr>
		<tr>
			<th>Челябинск</th>
			<td>ООО Магнум</td>
			<td>(351) 225-04-71</td>
		</tr>
		<tr>
			<th>Челябинск</th>
			<td>ЗАО Ново-Интэк</td>
			<td>(351) 211-02-02</td>
		</tr>
		<tr>
			<th>Челябинск</th>
			<td>ООО Хантер</td>
			<td>(351) 218-18-10</td>
		</tr>
		<tr>
			<th>Челябинск</th>
			<td>ООО Царская охота</td>
			<td>(351) 774-55-22</td>
		</tr>
		<tr>
			<th>Череповец</th>
			<td>ООО Заповедник</td>
			<td>(8202) 502031, доб. 50-55-75</td>
		</tr>
		<tr>
			<th>Череповец</th>
			<td>ООО Комбат Магазин</td>
			<td>(8202) 51-02-95</td>
		</tr>
		<tr>
			<th>Черкесск</th>
			<td>ООО Арсенал</td>
			<td>(8782) 26-08-35, доб. 20-19-19, 20 18 18</td>
		</tr>
		<tr>
			<th>Черная грязь</th>
			<td>ООО Вымпел</td>
			<td>761-41-31</td>
		</tr>
		<tr>
			<th>Черногорск</th>
			<td>ООО Люсина</td>
			<td>8-963-201-10-34</td>
		</tr>
		<tr>
			<th>Чита</th>
			<td>ООО Мир приключений</td>
			<td>(3022) 41-51-53, 415151</td>
		</tr>
		<tr>
			<th>Чита</th>
			<td>ООО Оружейный Центр</td>
			<td>(3022) 45-47-64, доб. 36-00-00</td>
		</tr>
		<tr>
			<th>Чита</th>
			<td>ООО Охотник и рыболов</td>
			<td>(3022) 32-21-28, 41-51-53</td>
		</tr>
		<tr>
			<th>Щелково</th>
			<td>ООО Ружейный двор</td>
			<td>(496) 566-19-88</td>
		</tr>
		<tr>
			<th>Южно-Сахалинск</th>
			<td>ООО Два медведя</td>
			<td>(4242) 433-692</td>
		</tr>
		<tr>
			<th>Южно-Сахалинск</th>
			<td>ООО Кампания 2000</td>
			<td>(4242) 43-88-91, доб. 72-57-12</td>
		</tr>
		<tr>
			<th>Якутск</th>
			<td>ООО Байанай-центр</td>
			<td>(4112) 45-99-20</td>
		</tr>
		<tr>
			<th>Якутск</th>
			<td>ООО Охотник</td>
			<td>(4112) 34-05-26</td>
		</tr>
		<tr>
			<th>Якутск</th>
			<td>ООО Полюс</td>
			<td>(4112) 47-38-09,910353</td>
		</tr>
		<tr>
			<th>Якутск</th>
			<td>ООО Рысь</td>
			<td>(4112) 33-32-95</td>
		</tr>
		<tr>
			<th>Якутск</th>
			<td>ООО Саха Военторг</td>
			<td>(812) 708-13-36</td>
		</tr>
		<tr>
			<th>Якутск</th>
			<td>ООО Сахапромохота</td>
			<td>(924) 172-70-00</td>
		</tr>
		<tr>
			<th>Ярославль</th>
			<td>ООО Арсенал</td>
			<td>(4852) 58-19-56</td>
		</tr>
		<tr>
			<th>Ярославль</th>
			<td>ООО Русская охота</td>
			<td>(4852) 47-37-28, доб. 90-37-28</td>
		</tr>
		<tr>
			<th>Ярославль</th>
			<td>ООО Атеми Ярославль</td>
			<td>(495) 580-30-90</td>
		</tr>
	</tbody>
</table>

				</div><!-- @end .static-page -->
				<div class="clearfix"></div>

			</div>
		</div><!-- @end .main -->
		<footer class="footer">
		    <div class="container">
		
		        <div class="footer__top">
		            <div class="footer__top--left">
		                <div class="footer__top--header">Покупателям</div>
		                <div class="footer__top--body js-mh">
		                    <ul>
		                        <li><a href="">Доставка</a></li>
		                        <li><a href="">Оплата</a></li>
		                        <li><a href="">Условия возврата</a></li>
		                        <li><a href="">Скидочные карты</a></li>
		                        <li><a href="">Подарочные сертификаты</a></li>
		                    </ul>
		                </div>
		            </div>
		            <div class="footer__top--right">
		                <div class="footer__top--header">Контакты</div>
		                <div class="footer__top--body js-mh">
		                    <ul>
		                        <li>Адрес: г. Москва, ул. Варварка, д.3</li>
		                        <li>E-mail: <a href="mailto:info@kolchuga.ru">info@kolchuga.ru</a></li>
		                        <li>Телефон: <a href="tel:+7(495)234-34-43">+7(495)234-34-43</a></li>
		                    </ul>
		                    <ul class="footer__top--icons">
		                        <li><a href=""><img src="images/vk.png" alt=""></a></li>
		                        <li><a href=""><img src="images/facebook.png" alt=""></a></li>
		                        <li><a href=""><img src="images/instagram.png" alt=""></a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		
		        <div class="footer__middle">
		            <div class="footer__middle--body">
		                <ul>
		                    <li><a href="">Сервисное обслуживание</a></li>
		                    <li><a href="">Гарантии</a></li>
		                    <li><a href="">Законодательная база</a></li>
		                    <li><a href="">Политика конфиденциальности</a></li>
		                    <li><a href="">Вакансии</a></li>
		                </ul>
		            </div>
		        </div>
		
		        <div class="footer__bottom">
		            <div class="footer__bottom--left">
		                <ul class="footer__bottom-payments">
		                    <li><img class="visa" src="images/icon-visa.svg" alt="" width="56" height="18"></li>
		                    <li><img class="mastercard" src="images/icon-mastercard.svg" alt="" width="44" height="26"></li>
		                    <li><img class="maestro" src="images/icon-maestro.svg" alt="" width="44" height="26"></li>
		                </ul>
		           </div>
		            <div class="footer__bottom--center">
		                <div class="footer__bottom-copyrights">
		                    &copy; 2005-2016 ЗАО «Фирма «Кольчуга»<br>Все права защищены
		                </div>
		            </div>
		            <div class="footer__bottom--right">
		
		                <div class="footer__bottom-developer">
		                    <a href="http://datainlife.ru"><span>Data</span><em>inlife</em></a>
		                </div>
		                <div class="footer__bottom-counter">
		                    <a href="http://top100.rambler.ru/top100/">
		                    	<img src="http://counter.rambler.ru/top100.cnt?685785" alt="" width=1 height=1 border=0>
		                    </a>
		                    <!--end of Top100 code-->
		                    <!--begin of Top100 logo-->
		                    <a href="http://top100.rambler.ru/top100/">
		                    <img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-gray2.gif" alt="Rambler's Top100" width=88 height=31 border=0></a>
		                    <!--end of Top100 logo -->
		                    <!--LiveInternet counter--><script language="JavaScript"><!--
		                    document.write('<a href="http://www.liveinternet.ru/click" '+
		                    'target=_blank><img src="http://counter.yadro.ru/hit?t13.11;r'+
		                    escape(document.referrer)+((typeof(screen)=='undefined')?'':
		                    ';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth?
		                    screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+
		                    ';'+Math.random()+
		                    '" title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодн\я" '+
		                    'border=0 width=88 height=31></a>')//--></script><!--/LiveInternet-->
		                </div>
		
		            </div>
		        </div>
		    </div>
		</footer>
	</div><!-- main-wrapper -->
</body>
</html>