<!DOCTYPE HTML>
<html lang="ru">
<head>
	<title>Заказ №12334</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link type="image/x-icon" href="favicon.ico" rel="icon">
	<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/jquery.min.js"></script>
	<script src="js/main.min.js"></script>
	
	<!--[if lt IE 10]>
		<script type="text/javascript" src="js/fix/placeholder.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/fix/respond.min.js"></script>
	<![endif]-->
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="js/fix/selectivizr-min.js"></script>
	<![endif]-->
	<script src="js/init.js" type="text/javascript"></script>
</head>
<body>
	<div class="main">
		<nav id="mmenu" class="mobile-menu">
		    <ul class="">
		        <li>
		            <a href="">О компании</a>
		            <ul>
		                <li><a href="">Продажа оружия</a></li>
		                <li><a href="">Общественная деятельность</a></li>
		                <li><a href="">Arms & Hunting</a></li>
		                <li><a href="">Контакты</a></li>
		            </ul>
		        </li>
		        <li>
		            <a href="">Оружейные салоны</a>
		            <ul>
		                <li><a href="/weapons_salons/varvarka/">Варварка</a></li>
		                <li><a href="/weapons_salons/leninsky-prospekt/">Ленинский проспект</a></li>
		                <li><a href="/weapons_salons/volokolamskoe-shosse/">Волоколамское шоссе</a></li>
		                <li><a href="/weapons_salons/lyubertsy/">Люберцы</a></li>
		                <li><a href="/weapons_salons/prospekt-mira/">Проспект Мира</a></li>
		            </ul>
		        </li>
		        <li>
		            <a href="">Услуги</a>
		        </li>
		        <li class="active">
		            <a href="">Каталог</a>
		            <ul>
		                <li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		                <li class="active"><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		                <li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		                <li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		                <li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		                <li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		                <li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		                <li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		                <li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		                <li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		                <li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		                <li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		                <li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		                <li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		                <li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		            </ul>
		        </li>
		        <li><a href="">Онлайн-магазин</a></li>
		        <li><a href="">Дилеры</a></li>
		        <li>
		            <a href="">Ресторан</a>
		            <ul>
		                <li><a href="">Меню</a></li>
		                <li><a href="">Услуги</a></li>
		                <li><a href="">Контакты</a></li>
		                <li><a href="">Охотничьи рецепты</a></li>
		            </ul>
		        </li>
		    </ul>
		</nav>
		<script>
		    $(document).ready(function(){
				$("#mmenu").mmenu({
					navbar:{
						title: 'Меню'
					}
				});
		    });
		</script>
		
		
		
		
		<header class="header">
		    <div class="container">
		        <div class="header__top">
		            <div class="header__lang">
		                <a href="" class="active">русский</a>
		                <a href="">english</a>
		            </div>
		            <div class="header__auth">
		                <a href="/logout.html">Выйти</a><a href="">Иванов И.В.</a>
		            </div>
		        </div>
		        <div class="header__middle">
		            <div class="header__middle--left">
		                <ul>
		                    <li>
		                        <a href="/weapons_salons/gift_certificate/" title="Подарочный сертификат">
		                            <span class="icon-gift"></span>
		                            <em>Подарочный сертификат</em>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="/weapons_salons/discount-program/" title="Дисконтная карта">
		                            <span class="icon-credit-card-alt"></span>
		                            <em>Дисконтная карта</em>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="/about_company/contacts.php" title="Контакты">
		                            <span class="icon-phone"></span>
		                            <em>Контакты</em>
		                        </a>
		                    </li>
		                </ul>
		
		                <div class="mobile-menu-bar">
		                    <a id="hamburger" href="#mmenu"><span></span></a>
		                </div>
		
		            </div>
		            <div class="header__logo">
		                <a href="/" class="logo"></a>
		            </div>
		            <div class="header__middle--right">
		
		                <div class="header__search">
		                    <div class="search-toggle">
		                        <span class="icon-search"></span>
		                    </div>
		                	<form class="form__search" action="/internet_shop/" _lpchecked="1">
		    					<input type="text" class="input_inside" name="q" value="" size="15" placeholder="Поиск по сайту" maxlength="50">
		        				<button class="btn__search" type="submit" name="s">
		                            <span class="icon-search"></span>
		                        </button>
		                	</form>
		                </div>
		                <ul>
		                    <li>
		                        <a href="/internet_shop/basket/"><span id="bid" class="icon-shopping-bag js-cart-count"><b>2</b></span></a>
		                    </li>
		                    <li><a href=""><span class="icon-user"></span></a></li>
		                    <li><a href=""><span class="icon-heart-o"><em>2</em></span></a></li>
		                </ul>
		
		            </div>
		        </div>
		    </div>
		</header>
		<nav class="navbar" role="navigation">
		    <div class="container">
		        <ul class="navbar__nav">
		            <li>
		                <a href="">О компании</a>
		                <ul>
		                    <li><a href="">Продажа оружия</a></li>
		                    <li><a href="">Общественная деятельность</a></li>
		                    <li><a href="">Arms & Hunting</a></li>
		                    <li><a href="">Контакты</a></li>
		                </ul>
		            </li>
		            <li>
		                <a href="">Оружейные салоны</a>
		                <ul>
							<li><a href="/weapons_salons/varvarka/">Варварка</a></li>
							<li><a href="/weapons_salons/leninsky-prospekt/">Ленинский проспект</a></li>
		                    <li><a href="/weapons_salons/volokolamskoe-shosse/">Волоколамское шоссе</a></li>
		                    <li><a href="/weapons_salons/lyubertsy/">Люберцы</a></li>
		                    <li><a href="/weapons_salons/prospekt-mira/">Проспект Мира</a></li>
						</ul>
		            </li>
		            <li>
		                <a href="">Услуги</a>
		            </li>
		            <li class="active">
		                <a href="">Каталог</a>
		                <ul>
		                	<li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		                	<li><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		                	<li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		                	<li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		                	<li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		                	<li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		                	<li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		                	<li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		                	<li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		                	<li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		                	<li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		                	<li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		                	<li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		                	<li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		                	<li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		                </ul>
		            </li>
		            <li><a href="">Онлайн-магазин</a></li>
		            <li><a href="">Дилеры</a></li>
		            <li>
		                <a href="">Ресторан</a>
		                <ul>
		                    <li><a href="">Меню</a></li>
		                    <li><a href="">Услуги</a></li>
		                    <li><a href="">Контакты</a></li>
		                    <li><a href="">Охотничьи рецепты</a></li>
		                </ul>
		            </li>
		        </ul>
		
		        <ul class="navbar__nav-sub">
		            <li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		            <li><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		            <li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		            <li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		            <li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		            <li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		            <li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		            <li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		            <li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		            <li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		            <li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		            <li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		            <li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		            <li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		            <li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		        </ul>
		    </div>
		</nav>

		<div class="main__inner">
			<div class="container">

				<div class="static-page">

					<div class="title-page">
		            	<h1>Заказ №12334</h1>
	              	</div>
					<ul class="breadcrumb">
						<li><a href="/"><span>Главная</span></a></li>
						<li><a href="/"><span>Личный кабинет</span></a></li>
					</ul>

					<div class="personal">

						<aside class="sidebar__personal">
							<div class="sidebar__block">
								<div class="sidebar__menu accordion-menu">
									<div class="sidebar__menu--title accordion-header accordion-open">
										<span>Личный кабинет</span>
										<i></i>
									</div>
									<ul>
										<li>
						                    <a href="personal-profile.html"><i class="icon-user"></i><span>Профиль</span></a>
						                </li>
						                <li>
						                    <a href="personal-basket.html"><i class="icon-shopping-bag"></i><span>Корзина</span></a>
						                </li>
						                <li>
						                    <a href="personal-discount-query.html"><i class="icon-credit-card-alt"></i><span>Скидочная карта</span></a>
						                </li>
						                <li class="active">
						                    <a href="personal-order.html"><i class="icon-folder-open"></i><span>Заказы</span></a>
						                </li>
						                <li>
						                    <a href="personal-favourite.html"><i class="icon-heart-o"></i><span>Избранное</span></a>
						                </li>
						                <li>
						                    <a href=""><i class="icon-exit"></i><span>Выход</span></a>
						                </li>
						            </ul>
								</div>
							</div>
						</aside>

						<div class="personal__wrapper">

							<table class="table table__info">
								<tr>
									<th>Дата заказа</th>
									<td>27.09.2015 11:12</td>
								</tr>
								<tr>
									<th>Текущий статус заказа</th>
									<td><span class="text-warning">Ждет оплаты</span></td>
								</tr>
								<tr>
									<th>Сумма заказа</th>
									<td><span class="price">19 990 руб.</span></td>
								</tr>
								<tr>
									<th>Действия</th>
									<td>
										<a href="#" title="Оплатить" class="btn btn-primary"><span>Оплатить</span></a>
										<a href="#" title="Отменить" class="btn btn-primary"><span>Отменить</span></a>
									</td>
								</tr>
								<tr>
									<td colspan="2"><h4>Контактные данные</h4></td>
								</tr>
								<tr>
									<th>ФИО</th>
									<td>Иванов Иван Иванович</td>
								</tr>
								<tr>
									<th>Телефон</th>
									<td>+7 (916) 123-45-67</td>
								</tr>
								<tr>
									<th>E-mail</th>
									<td>ivanov@mail.ru</td>
								</tr>
								<tr>
									<td colspan="2"><h4>Доставка</h4></td>
								</tr>
								<tr>
									<th>Тип доставки</th>
									<td>курьером</td>
								</tr>
								<tr>
									<th>Город</th>
									<td>г. Москва</td>
								</tr>
								<tr>
									<th>Адрес</th>
									<td>ул. Оршанская, д. 5, офис 4/2-1</td>
								</tr>
								<tr>
									<td colspan="2"><h4>Оплата</h4></td>
								</tr>
								<tr>
									<th>Способ оплаты</th>
									<td>Банковская карта</td>
								</tr>
								<tr>
									<th>Статус оплаты</th>
									<td>Не оплачено</td>
								</tr>
							</table>

						    <h4>Товар в заказе</h4>
						    <table class="table table__goods">
						        <thead>
						            <tr>
						                <th class="td__name">Наименование</th>
						                <th class="td__price">Цена</th>
										<th class="td__discount">Скидка</th>
										<th class="td__price-discount">Цена с учетом скидки</th>
						                <th class="td__number">Кол-во</th>
						                <th class="td__sum">Сумма</th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr>
										<td class="td__name">
											<em>Название</em>
											<div class="td__inner">
						                    	<div class="td__name--inner">
							                        <div class="td__name--img">
							                            <a href=""><img src="upload/good-1.jpg" alt=""></a>
							                        </div>
							                        <div class="td__name--title">
							                            <a href="">Бинокль Burris 10x42 Montana 1203</a>
							                        </div>
						                        </div>
						                    </div>
						                </td>
										<td class="td__price">
											<em>Цена</em>
											<div class="td__inner">
							                    <div class="price__block">
							                        <span class="price">22 690 руб.</span>
							                    </div>
						                    </div>
						                </td>
										<td class="td__discount">
											<em>Скидка</em>
											<div class="td__inner">
												<div class="price__block">
													<span class="discount">20%</span>
												</div>
											</div>
										</td>
										<td class="td__price-discount">
											<em>Цена с учетом скидки</em>
											<div class="td__inner">
												<div class="price__block">
													<span class="price">16 690 руб.</span>
												</div>
											</div>
										</td>
						                <td class="td__number">
											<em>Количество</em>
											<div class="td__inner">
						                	    <span title="Количество">1</span>
											</div>
						                </td>
						                <td class="td__sum">
											<em>Сумма</em>
											<div class="td__inner">
						                    	<span class="price-total">22 690 руб.</span>
											</div>
						                </td>
						            </tr>
						            <tr>
										<td class="td__name">
											<em>Название</em>
											<div class="td__inner">
							                    <div class="td__name--inner">
							                        <div class="td__name--img">
							                            <a href=""><img src="upload/good-2.jpg" alt=""></a>
							                        </div>

							                        <div class="td__name--title">
							                            <a href="">Нож Arno Bernard 1308 Hippo</a>
							                        </div>
							                    </div>
							                </div>
						                </td>
						                <td class="td__price">
											<em>Цена</em>
											<div class="td__inner">
							                    <div class="price__block">
							                        <span class="price">57 990 руб.</span>
							                    </div>
							                </div>
						                </td>
										<td class="td__discount">
											<em>Скидка</em>
											<div class="td__inner">
												<div class="price__block">
													<span class="discount">30%</span>
												</div>
											</div>
										</td>
										<td class="td__price-discount">
											<em>Цена с учетом скидки</em>
											<div class="td__inner">
												<div class="price__block">
													<span class="price">49 990 руб.</span>
												</div>
											</div>
										</td>
						                <td class="td__number">
											<em>Количество</em>
											<div class="td__inner">
						                    	<span title="Количество">2</span>
											</div>
						                </td>
						                <td class="td__sum">
											<em>Сумма</em>
											<div class="td__inner">
						                    	<span class="price-total">49 990 руб.</span>
											</div>
						                </td>
						            </tr>
						            <tr>
										<td class="td__name">
											<em>Название</em>
											<div class="td__inner">
												<div class="td__name--inner">
													<div class="td__name--img">
														<a href=""><div class="no-photo"></div></a>
													</div>
													<div class="td__name--title">
														<a href="">Балаклава Beretta BC221/05181/081G I</a>
													</div>
												</div>
											</div>
										</td>
										<td class="td__price">
											<em>Цена</em>
											<div class="td__inner">
												<div class="price__block">
													<span class="price">57 990 руб.</span>
												</div>
											</div>
										</td>
										<td class="td__discount">
											<em>Скидка</em>
											<div class="td__inner">

											</div>
										</td>
										<td class="td__price-discount">
											<em>Цена с учетом скидки</em>
											<div class="td__inner">
												<div class="price__block">
													<span class="price">57 990 руб.</span>
												</div>
											</div>
										</td>
						                <td class="td__number">
											<em>Количество</em>
											<div class="td__inner">
						                    	<span title="Количество">1</span>
											</div>
						                </td>
						                <td class="td__sum">
											<em>Сумма</em>
											<div class="td__inner">
						                    	<span class="price-total">62 990 руб.</span>
											</div>
						                </td>
						            </tr>

						        </tbody>
						    </table>

						    <div class="text-right">

								<div class="table__total--wrap">
									<table class="table table__total">
										<tr class="order__sum">
											<td>Цена без скидки</td>
											<td>68 050 руб.</td>
										</tr>
										<tr class="order__discount">
											<td>Скидка</td>
											<td>4 900 руб.</td>
										</tr>
										<tr class="order__delivery">
											<td>Доставка</td>
											<td>500 руб.</td>
										</tr>
										<tr class="order__total">
											<td>Итого</td>
											<td>49 990 руб.</td>
										</tr>
									</table>
								</div>

								<div class="order__btn">
									<a href="" class="btn btn-primary">Отменить</a>
									<a href="" class="btn btn-primary">Оплатить</a>
								</div>
						    </div>


						</div><!-- @end personal__wrapper -->

					</div><!-- @end personal -->


				</div><!-- @end .static-page -->
				<div class="clearfix"></div>

			</div>
		</div><!-- @end .main -->
		<footer class="footer">
		    <div class="container">
		
		        <div class="footer__top">
		            <div class="footer__top--left">
		                <div class="footer__top--header">Покупателям</div>
		                <div class="footer__top--body js-mh">
		                    <ul>
		                        <li><a href="">Доставка</a></li>
		                        <li><a href="">Оплата</a></li>
		                        <li><a href="">Условия возврата</a></li>
		                        <li><a href="">Скидочные карты</a></li>
		                        <li><a href="">Подарочные сертификаты</a></li>
		                    </ul>
		                </div>
		            </div>
		            <div class="footer__top--right">
		                <div class="footer__top--header">Контакты</div>
		                <div class="footer__top--body js-mh">
		                    <ul>
		                        <li>Адрес: г. Москва, ул. Варварка, д.3</li>
		                        <li>E-mail: <a href="mailto:info@kolchuga.ru">info@kolchuga.ru</a></li>
		                        <li>Телефон: <a href="tel:+7(495)234-34-43">+7(495)234-34-43</a></li>
		                    </ul>
		                    <ul class="footer__top--icons">
		                        <li><a href=""><img src="images/vk.png" alt=""></a></li>
		                        <li><a href=""><img src="images/facebook.png" alt=""></a></li>
		                        <li><a href=""><img src="images/instagram.png" alt=""></a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		
		        <div class="footer__middle">
		            <div class="footer__middle--body">
		                <ul>
		                    <li><a href="">Сервисное обслуживание</a></li>
		                    <li><a href="">Гарантии</a></li>
		                    <li><a href="">Законодательная база</a></li>
		                    <li><a href="">Политика конфиденциальности</a></li>
		                    <li><a href="">Вакансии</a></li>
		                </ul>
		            </div>
		        </div>
		
		        <div class="footer__bottom">
		            <div class="footer__bottom--left">
		                <ul class="footer__bottom-payments">
		                    <li><img class="visa" src="images/icon-visa.svg" alt="" width="56" height="18"></li>
		                    <li><img class="mastercard" src="images/icon-mastercard.svg" alt="" width="44" height="26"></li>
		                    <li><img class="maestro" src="images/icon-maestro.svg" alt="" width="44" height="26"></li>
		                </ul>
		           </div>
		            <div class="footer__bottom--center">
		                <div class="footer__bottom-copyrights">
		                    &copy; 2005-2016 ЗАО «Фирма «Кольчуга»<br>Все права защищены
		                </div>
		            </div>
		            <div class="footer__bottom--right">
		
		                <div class="footer__bottom-developer">
		                    <a href="http://datainlife.ru"><span>Data</span><em>inlife</em></a>
		                </div>
		                <div class="footer__bottom-counter">
		                    <a href="http://top100.rambler.ru/top100/">
		                    	<img src="http://counter.rambler.ru/top100.cnt?685785" alt="" width=1 height=1 border=0>
		                    </a>
		                    <!--end of Top100 code-->
		                    <!--begin of Top100 logo-->
		                    <a href="http://top100.rambler.ru/top100/">
		                    <img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-gray2.gif" alt="Rambler's Top100" width=88 height=31 border=0></a>
		                    <!--end of Top100 logo -->
		                    <!--LiveInternet counter--><script language="JavaScript"><!--
		                    document.write('<a href="http://www.liveinternet.ru/click" '+
		                    'target=_blank><img src="http://counter.yadro.ru/hit?t13.11;r'+
		                    escape(document.referrer)+((typeof(screen)=='undefined')?'':
		                    ';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth?
		                    screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+
		                    ';'+Math.random()+
		                    '" title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодн\я" '+
		                    'border=0 width=88 height=31></a>')//--></script><!--/LiveInternet-->
		                </div>
		
		            </div>
		        </div>
		    </div>
		</footer>
	</div><!-- main-wrapper -->
</body>
</html>