<!DOCTYPE HTML>
<html lang="ru">
<head>
	<title>Услуги</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link type="image/x-icon" href="favicon.ico" rel="icon">
	<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/jquery.min.js"></script>
	<script src="js/main.min.js"></script>
	
	<!--[if lt IE 10]>
		<script type="text/javascript" src="js/fix/placeholder.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/fix/respond.min.js"></script>
	<![endif]-->
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="js/fix/selectivizr-min.js"></script>
	<![endif]-->
	<script src="js/init.js" type="text/javascript"></script>
</head>
<body>
	<div class="main">
		<nav id="mmenu" class="mobile-menu">
		    <ul class="">
		        <li>
		            <a href="">О компании</a>
		            <ul>
		                <li><a href="">Продажа оружия</a></li>
		                <li><a href="">Общественная деятельность</a></li>
		                <li><a href="">Arms & Hunting</a></li>
		                <li><a href="">Контакты</a></li>
		            </ul>
		        </li>
		        <li>
		            <a href="">Оружейные салоны</a>
		            <ul>
		                <li><a href="/weapons_salons/varvarka/">Варварка</a></li>
		                <li><a href="/weapons_salons/leninsky-prospekt/">Ленинский проспект</a></li>
		                <li><a href="/weapons_salons/volokolamskoe-shosse/">Волоколамское шоссе</a></li>
		                <li><a href="/weapons_salons/lyubertsy/">Люберцы</a></li>
		                <li><a href="/weapons_salons/prospekt-mira/">Проспект Мира</a></li>
		            </ul>
		        </li>
		        <li>
		            <a href="">Услуги</a>
		        </li>
		        <li class="active">
		            <a href="">Каталог</a>
		            <ul>
		                <li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		                <li class="active"><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		                <li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		                <li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		                <li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		                <li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		                <li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		                <li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		                <li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		                <li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		                <li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		                <li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		                <li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		                <li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		                <li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		            </ul>
		        </li>
		        <li><a href="">Онлайн-магазин</a></li>
		        <li><a href="">Дилеры</a></li>
		        <li>
		            <a href="">Ресторан</a>
		            <ul>
		                <li><a href="">Меню</a></li>
		                <li><a href="">Услуги</a></li>
		                <li><a href="">Контакты</a></li>
		                <li><a href="">Охотничьи рецепты</a></li>
		            </ul>
		        </li>
		    </ul>
		</nav>
		<script>
		    $(document).ready(function(){
				$("#mmenu").mmenu({
					navbar:{
						title: 'Меню'
					}
				});
		    });
		</script>
		
		
		
		
		<header class="header">
		    <div class="container">
		        <div class="header__top">
		            <div class="header__lang">
		                <a href="" class="active">русский</a>
		                <a href="">english</a>
		            </div>
		            <div class="header__auth">
		                <a href="/logout.html">Выйти</a><a href="">Иванов И.В.</a>
		            </div>
		        </div>
		        <div class="header__middle">
		            <div class="header__middle--left">
		                <ul>
		                    <li>
		                        <a href="/weapons_salons/gift_certificate/" title="Подарочный сертификат">
		                            <span class="icon-gift"></span>
		                            <em>Подарочный сертификат</em>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="/weapons_salons/discount-program/" title="Дисконтная карта">
		                            <span class="icon-credit-card-alt"></span>
		                            <em>Дисконтная карта</em>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="/about_company/contacts.php" title="Контакты">
		                            <span class="icon-phone"></span>
		                            <em>Контакты</em>
		                        </a>
		                    </li>
		                </ul>
		
		                <div class="mobile-menu-bar">
		                    <a id="hamburger" href="#mmenu"><span></span></a>
		                </div>
		
		            </div>
		            <div class="header__logo">
		                <a href="/" class="logo"></a>
		            </div>
		            <div class="header__middle--right">
		
		                <div class="header__search">
		                    <div class="search-toggle">
		                        <span class="icon-search"></span>
		                    </div>
		                	<form class="form__search" action="/internet_shop/" _lpchecked="1">
		    					<input type="text" class="input_inside" name="q" value="" size="15" placeholder="Поиск по сайту" maxlength="50">
		        				<button class="btn__search" type="submit" name="s">
		                            <span class="icon-search"></span>
		                        </button>
		                	</form>
		                </div>
		                <ul>
		                    <li>
		                        <a href="/internet_shop/basket/"><span id="bid" class="icon-shopping-bag js-cart-count"><b>2</b></span></a>
		                    </li>
		                    <li><a href=""><span class="icon-user"></span></a></li>
		                    <li><a href=""><span class="icon-heart-o"><em>2</em></span></a></li>
		                </ul>
		
		            </div>
		        </div>
		    </div>
		</header>
		<nav class="navbar" role="navigation">
		    <div class="container">
		        <ul class="navbar__nav">
		            <li>
		                <a href="">О компании</a>
		                <ul>
		                    <li><a href="">Продажа оружия</a></li>
		                    <li><a href="">Общественная деятельность</a></li>
		                    <li><a href="">Arms & Hunting</a></li>
		                    <li><a href="">Контакты</a></li>
		                </ul>
		            </li>
		            <li>
		                <a href="">Оружейные салоны</a>
		                <ul>
							<li><a href="/weapons_salons/varvarka/">Варварка</a></li>
							<li><a href="/weapons_salons/leninsky-prospekt/">Ленинский проспект</a></li>
		                    <li><a href="/weapons_salons/volokolamskoe-shosse/">Волоколамское шоссе</a></li>
		                    <li><a href="/weapons_salons/lyubertsy/">Люберцы</a></li>
		                    <li><a href="/weapons_salons/prospekt-mira/">Проспект Мира</a></li>
						</ul>
		            </li>
		            <li>
		                <a href="">Услуги</a>
		            </li>
		            <li class="active">
		                <a href="">Каталог</a>
		                <ul>
		                	<li><a class="" href="/internet_shop/basket/">Корзина</a></li>
		                	<li><a class="" href="/internet_shop/oruzhie/">Оружие</a></li>
		                	<li><a class="" href="/internet_shop/patrony/">Патроны</a></li>
		                	<li><a class="" href="/internet_shop/optika/">Оптика</a></li>
		                	<li><a class="" href="/internet_shop/oruzheynye-aksessuary/">Оружейные аксессуары</a></li>
		                	<li><a class="" href="/internet_shop/nozhi/">Ножи</a></li>
		                	<li><a class="active" href="/internet_shop/odezhda/">Одежда</a></li>
		                	<li><a class="" href="/internet_shop/obuv/">Обувь</a></li>
		                	<li><a class="" href="/internet_shop/aksessuary/">Аксессуары</a></li>
		                	<li><a class="" href="/internet_shop/soputstvuyushchie-tovary/">Сопутствующие товары</a></li>
		                	<li><a class="" href="/internet_shop/suveniry/">Сувениры</a></li>
		                	<li><a class="" href="/internet_shop/seyfy/">Сейфы</a></li>
		                	<li><a class="" href="/internet_shop/tovary-dlya-stendovoy-strelby/">Товары для стендовой стрельбы</a></li>
		                	<li><a class="" href="/internet_shop/tovary-dlya-vesenney-okhoty/">Товары для весенней охоты</a></li>
		                	<li><a class="" href="/internet_shop/finalnaya-tsena/">Финальная цена</a></li>
		                </ul>
		            </li>
		            <li><a href="">Онлайн-магазин</a></li>
		            <li><a href="">Дилеры</a></li>
		            <li>
		                <a href="">Ресторан</a>
		                <ul>
		                    <li><a href="">Меню</a></li>
		                    <li><a href="">Услуги</a></li>
		                    <li><a href="">Контакты</a></li>
		                    <li><a href="">Охотничьи рецепты</a></li>
		                </ul>
		            </li>
		        </ul>
		
		        <!-- -->
		    </div>
		</nav>

		<div class="main__inner">
			<div class="container">

				<div class="static-page">
					<div class="title-page">
		            	<h1>Услуги</h1>
	              	</div>

					<p>За много лет успешной работы компания «Кольчуга» хорошо изучила требования и пожелания наших покупателей. И сейчас, руководствуясь принципом индивидуального подхода к каждому клиенту, мы с гордостью предлагаем Вам широкий спектр услуг, направленный на удовлетворение любых запросов, связанных с оружием и охотой.</p>


					<!--
						миниатюры лучше сделать с размерами max-width 330px c сохранением пропорций
					 -->
					<ul class="article_list">

						<li class="article_item" id="bx_1076857107_305">
							<div class="ov_hidden">
								<div class="fl_left">
									<a href="/services/servisnye-tsentry-po-remontu-i-obsluzhivaniyu-oruzhiya/">
										<img class="preview_picture bdr" border="0" src="upload/services_item_1.png" width="200" alt="Сервисные центры по ремонту и обслуживанию оружия" title="Сервисные центры по ремонту и обслуживанию оружия">
									</a>
								</div>
								<div class="article-body">
									<h3><a href="/services/servisnye-tsentry-po-remontu-i-obsluzhivaniyu-oruzhiya/"><b>Сервисные центры по ремонту и обслуживанию оружия</b></a><br></h3>
									<p>Сервисный центр компании «Кольчуга» производит комплексное обслуживание и ремонт гражданского охотничьего и спортивного оружия, а также оружия самообороны (огнестрельного оружия ограниченного поражения и газового оружия). Специалисты нашего сервисного
										центра проведут чистку и смазку оружия, его полную предпродажную подготовку, а также установят и пристреляют прицел и подберут оптимальный боеприпас. Кроме того, при необходимости здесь для Вас проведут гарантийный и постгарантийный ремонт приобретенного
										у нас оружия и проконсультируют по любому возникшему вопросу.
									</p>
									<div style="clear:both"></div>
								</div>
							</div>
						</li>
						<li class="article_item" id="bx_1076857107_525225">
							<div class="ov_hidden">
								<div class="fl_left">
									<a href="/services/gravirovka-po-metallu-lazerom/">
										<img class="preview_picture bdr" border="0" src="upload/services_item_2.png" width="684" alt="Гравировка по металлу лазером" title="Гравировка по металлу лазером">
									</a>
								</div>
								<div class="article-body">
									<h3><a href="/services/gravirovka-po-metallu-lazerom/"><b>Гравировка по металлу лазером</b></a><br></h3>
									<p>Компания "Кольчуга" предлагает широкий спектр услуг по лазерной гравировке на металле. Квалифицированные мастера работают на современном оборудовании и готовы выполнить гравировку на оружии по Вашему рисунку или фотографии.
										<br>
										<br><a href="tel:+7 (495) 554-22-40">+7 (495) 554-22-40</a></p>
									<div style="clear:both"></div>
								</div>
							</div>
						</li>
						<li class="article_item" id="bx_1076857107_643244">
							<div class="ov_hidden">
								<div class="fl_left">
									<a href="/services/zatochka-okhotnichikh-i-bytovykh-nozhey/">
										<img class="preview_picture bdr" border="0" src="upload/services_item_3.png" width="550" alt="Заточка охотничьих и бытовых ножей" title="Заточка охотничьих и бытовых ножей">
									</a>
								</div>
								<div class="article-body">
									<h3><a href="/services/zatochka-okhotnichikh-i-bytovykh-nozhey/"><b>Заточка охотничьих и бытовых ножей</b></a><br></h3>
									<p>Профессиональный штат работников сервисного центра компании "Кольчуга" в короткий срок вернет вашему ножу прежние характеристики или даже улучшит их благодаря высококачественному оборудованию. Наши специалисты занимаются не только заточкой охотничьих
										и бытовых ножей, но и удалением ржавчины, полировкой, доводкой и др.
										<br>
										<br><a href="tel:+7 (495) 554-22-40">+7 (495) 554-22-40</a></p>
									<div style="clear:both"></div>
								</div>
							</div>
						</li>
						<li class="article_item" id="bx_1076857107_643245">
							<div class="ov_hidden">
								<div class="fl_left">
									<a href="/services/oruzhie-na-zakaz/">
										<img class="preview_picture bdr" border="0" src="upload/services_item_4.png" width="202" alt="Оружие на заказ" title="Оружие на заказ">
									</a>
								</div>
								<div class="article-body">
									<h3><a href="/services/oruzhie-na-zakaz/"><b>Оружие на заказ</b></a><br></h3>
									<p>Вы можете не только приобрести у нас товары, предоставленные в каталоге, но и заказать оружие наших зарубежных партнеров, которое мы привезем для Вас по предварительному заказу. Наша компания сотрудничает с большинством известных производителей оружия
										по всему миру и мы готовы привезти Вам то, что, безусловно, поможет Вам в добыче ценных охотничьих трофеев.
										<br> Мы также поможем Вам с выбором дополнительных опций, в зависимости от ваших навыков и потребностей. Вы можете сами выбрать тип дерева приклада, длину ствола и даже заказать гравировку по вашему рисунку или фотографии.
										<br>В настоящее время ввиду нестабильной ситуации с поставками оружия и патронов из стран ЕС огромная просьба уточнять информацию по телефонам:</p>
									<p><a href="tel:+7 (495) 698-11-62">+7 (495) 698-11-62</a>, <a href="tel:+7 (495) 698-29-62">+7 (495) 698-29-62</a>, <a href="tel:+7 (495) 234-34-43">+7 (495) 234-34-43</a>, <a href="tel:+7 (495) 698-11-97">+7 (495) 698-11-97</a> (Отдел заказов).</p>
									<div style="clear:both"></div>
								</div>
							</div>
						</li>
						<li class="article_item" id="bx_1076857107_303">
							<div class="ov_hidden">
								<div class="fl_left">
									<a href="/services/konsultatsii-po-polucheniyu-litsenziy-na-pokupku-oruzhiya/">
										<img class="preview_picture bdr" border="0" src="upload/services_item_5.png" width="200" alt="Консультации по получению лицензий на покупку оружия" title="Консультации по получению лицензий на покупку оружия">
									</a>
								</div>
								<div class="article-body">
									<h3><a href="/services/konsultatsii-po-polucheniyu-litsenziy-na-pokupku-oruzhiya/"><b>Консультации по получению лицензий на покупку оружия</b></a><br></h3>
									<p> Высококвалифицированные специалисты компании «Кольчуга» проведут любые консультации по правовым вопросам в сфере получения лицензии на приобретение, хранение и ношение оружия самообороны, огнестрельного гладкоствольного и нарезного оружия. Большой
										опыт работы в данной сфере юридических услуг позволяет нашим сотрудникам давать консультации как по оформлению всех необходимых документов, так и касательно технических характеристик того или иного вида оружия, что существенно облегчает и ускоряет
										выбор покупателя. </p>
									<p><a href="tel:+7 (926) 269-78-80">+7 (926) 269-78-80</a></p>
									<div style="clear:both"></div>
								</div>
							</div>
						</li>
						<li class="article_item" id="bx_1076857107_514225">
							<div class="ov_hidden">
								<div class="fl_left">
									<a href="/services/zapravka-ballonov-dlya-pcp-vintovok/">
										<img class="preview_picture bdr" border="0" src="upload/services_item_6.png" width="200" alt="Заправка баллонов для PCP винтовок" title="Заправка баллонов для PCP винтовок">
									</a>
								</div>
								<div class="article-body">
									<h3><a href="/services/zapravka-ballonov-dlya-pcp-vintovok/"><b>Заправка баллонов для PCP винтовок</b></a><br></h3>
									<p>
										Сервисный центр&nbsp;компании&nbsp;«Кольчуга»&nbsp;производит заправку баллонов для PCP винтовок. Наши квалифицированные специалисты&nbsp;используют не только баллоны с сжатым воздухом и компрессоры, но и механические насосы высокого давления. Помимо
										этого Вы можете воспользоваться услугами комплексного обслуживания и ремонта Вашего оружия.
									</p>
									<div style="clear:both"></div>
								</div>
							</div>
						</li>
						<li class="article_item" id="bx_1076857107_306">
							<div class="ov_hidden">
								<div class="fl_left">
									<a href="/services/poshiv-odezhdy-na-zakaz/">
										<img class="preview_picture bdr" border="0" src="upload/services_item_7.png" width="200" alt="Пошив одежды на заказ" title="Пошив одежды на заказ">
									</a>
								</div>
								<div class="article-body">
									<h3><a href="/services/poshiv-odezhdy-na-zakaz/"><b>Пошив одежды на заказ</b></a><br></h3>
									<p>Если Вы хотите одеваться со вкусом и оригинально как в повседневной жизни, так и на охоте, а любой элемент одежды и снаряжения должен быть удобным и функциональным и «сидеть» на Вас как влитой – обращайтесь к нам и закажите для себя индивидуальный
										пошив. Опытные портные фирмы «Leder Weiss» (Германия) предложат Вам широкий спектр услуг по изготовлению разных видов одежды и аксессуаров из высококачественной овчины.
										<br>
										<br><a href="tel:+7 (495) 234-34-43">+7 (495) 234-34-43</a>, <a href="tel:+7 (495) 698-29-62">+7 (495) 698-29-62</a> (доб.137)</p>
									<div style="clear:both"></div>
								</div>
							</div>
						</li>
						<li class="article_item" id="bx_1076857107_307">
							<div class="ov_hidden">
								<div class="fl_left">
									<a href="/services/uslugi-nashikh-partnerov/">
										<img class="preview_picture bdr" border="0" src="upload/services_item_8.png" width="200" alt="Услуги наших партнеров" title="Услуги наших партнеров">
									</a>
								</div>
								<div class="article-body">
									<h3><a href="/services/uslugi-nashikh-partnerov/"><b>Услуги наших партнеров</b></a><br></h3>
									<p>За много лет работы у нас сложились крепкие партнерские отношения со множеством надежных и прекрасно зарекомендовавших себя организаций, работающих в самых разных сферах, связанных с оружием и охотой. Благодаря такому альянсу, мы имеем возможность
										качественно и оперативно удовлетворять любые потребности наших клиентов, в том числе:</p>
									<br>
									<ul>
										<li>Академии Практической Стрельбы. <a href="/services/akademiya-prakticheskoy-strelby.php">Подробнее...</a></li>
										<li>Ремонт и подгонка одежды по размеру;</li>
										<li>Салон таксидермии;</li>
										<li>Доставка оружейных сейфов;</li>
										<li>Профессиональная заточка ножей вручную на японских камнях;</li>
										<li>Занятия по стендовой стрельбе с тренером-преподавателем высшей категории. <a href="/services/stendovaya-strelba.php">Подробнее...</a></li>
									</ul>
									<div style="clear:both"></div>
								</div>
							</div>
						</li>
						<br>
					</ul>

				</div><!-- @end .static-page -->
				<div class="clearfix"></div>

			</div>
		</div><!-- @end .main -->
		<footer class="footer">
		    <div class="container">
		
		        <div class="footer__top">
		            <div class="footer__top--left">
		                <div class="footer__top--header">Покупателям</div>
		                <div class="footer__top--body js-mh">
		                    <ul>
		                        <li><a href="">Доставка</a></li>
		                        <li><a href="">Оплата</a></li>
		                        <li><a href="">Условия возврата</a></li>
		                        <li><a href="">Скидочные карты</a></li>
		                        <li><a href="">Подарочные сертификаты</a></li>
		                    </ul>
		                </div>
		            </div>
		            <div class="footer__top--right">
		                <div class="footer__top--header">Контакты</div>
		                <div class="footer__top--body js-mh">
		                    <ul>
		                        <li>Адрес: г. Москва, ул. Варварка, д.3</li>
		                        <li>E-mail: <a href="mailto:info@kolchuga.ru">info@kolchuga.ru</a></li>
		                        <li>Телефон: <a href="tel:+7(495)234-34-43">+7(495)234-34-43</a></li>
		                    </ul>
		                    <ul class="footer__top--icons">
		                        <li><a href=""><img src="images/vk.png" alt=""></a></li>
		                        <li><a href=""><img src="images/facebook.png" alt=""></a></li>
		                        <li><a href=""><img src="images/instagram.png" alt=""></a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		
		        <div class="footer__middle">
		            <div class="footer__middle--body">
		                <ul>
		                    <li><a href="">Сервисное обслуживание</a></li>
		                    <li><a href="">Гарантии</a></li>
		                    <li><a href="">Законодательная база</a></li>
		                    <li><a href="">Политика конфиденциальности</a></li>
		                    <li><a href="">Вакансии</a></li>
		                </ul>
		            </div>
		        </div>
		
		        <div class="footer__bottom">
		            <div class="footer__bottom--left">
		                <ul class="footer__bottom-payments">
		                    <li><img class="visa" src="images/icon-visa.svg" alt="" width="56" height="18"></li>
		                    <li><img class="mastercard" src="images/icon-mastercard.svg" alt="" width="44" height="26"></li>
		                    <li><img class="maestro" src="images/icon-maestro.svg" alt="" width="44" height="26"></li>
		                </ul>
		           </div>
		            <div class="footer__bottom--center">
		                <div class="footer__bottom-copyrights">
		                    &copy; 2005-2016 ЗАО «Фирма «Кольчуга»<br>Все права защищены
		                </div>
		            </div>
		            <div class="footer__bottom--right">
		
		                <div class="footer__bottom-developer">
		                    <a href="http://datainlife.ru"><span>Data</span><em>inlife</em></a>
		                </div>
		                <div class="footer__bottom-counter">
		                    <a href="http://top100.rambler.ru/top100/">
		                    	<img src="http://counter.rambler.ru/top100.cnt?685785" alt="" width=1 height=1 border=0>
		                    </a>
		                    <!--end of Top100 code-->
		                    <!--begin of Top100 logo-->
		                    <a href="http://top100.rambler.ru/top100/">
		                    <img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-gray2.gif" alt="Rambler's Top100" width=88 height=31 border=0></a>
		                    <!--end of Top100 logo -->
		                    <!--LiveInternet counter--><script language="JavaScript"><!--
		                    document.write('<a href="http://www.liveinternet.ru/click" '+
		                    'target=_blank><img src="http://counter.yadro.ru/hit?t13.11;r'+
		                    escape(document.referrer)+((typeof(screen)=='undefined')?'':
		                    ';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth?
		                    screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+
		                    ';'+Math.random()+
		                    '" title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодн\я" '+
		                    'border=0 width=88 height=31></a>')//--></script><!--/LiveInternet-->
		                </div>
		
		            </div>
		        </div>
		    </div>
		</footer>
	</div><!-- main-wrapper -->
</body>
</html>