.warningBlock {
    display: none;
}
.frw25{
    float: right;
    width: 25%;
}
.flw75{
    float: left;
    width: 75%;
}
.personal  aside {float:none;width:100%;margin-right:0;}
.block_item{border-top:1px solid #c4c4c4; padding-top: 20px; padding-bottom: 20px;	}
.block_item .soder_input input{border-width:1px;}
	.block_item .block_name{font-family: PT Sans; font-size: 16px; line-height: 1.6; margin-top: 1em;}
	.block_item .opis_zg{font-family: PT Sans; font-size: 12px;color: #5C5C5C;white-space: nowrap;line-height: 50px;}
	.block_item .opis_zg0{font-family: PT Sans; font-size: 12px;color: #5C5C5C;line-height: 50px;display:inline-block;padding-right: 5px; padding-left: 5px;}
	.block_item .soder_sklad{font-family: PT Sans; font-size: 14px; color: #EA5B35;}
	.block_item .oldprice{font-family: PT Sans; font-size: 12px; color: #5C5C5C;text-decoration-line: line-through;padding-left: 10px;}
	.block_item .nowprice{font-family: PT Sans; font-size: 16px; align-items: center;}
	.block_item .otcentr{  position: absolute; left: 50%; transform: translate(-50%);}
	.block_item .soder_sum{  font-family: PT Sans; font-size: 16px;white-space: nowrap;}
	.block_item .soder_skidka{  font-family: PT Sans; display:inline-block;width:50px;line-height:34px;color:#ffffff;background-color: #EA5B35;text-align:center;}
	.block_item .blokdiskount{  text-align:right;}
	.oboloch_doing{text-align:right;}
	.block-doing--favourite i {    padding: 5px;   border: 1px solid #ccc;  color: #ccc;}
	.block-doing--delete span{padding: 5px;   border: 1px solid #ccc;  color: #ccc;}
	.block-doing--favourite, .block-doing--delete, .block-doing--favourite:hover, .block-doing--delete:hover, .block-doing--favourite:visited, .block-doing--delete:visited {text-decoration:none;}
	.block-doing--favourite:hover i{background-color:#ccc;color: #fff;}
	.block-doing--delete:hover span{background-color:#EA5B35;color: #fff;}
	.block_item .order__btn {margin-top:0;}
	.block_item .order__btn .btn-oforml{background-color:#EA5B35; border-radius:0;font-size: 14px;width: 100%;}
	.block_item .bx_ordercart_order_pay_left{margin-top:-5px;}
	.plus, .minus{border: 1px solid; width: 20px; display: block; text-align: center; line-height: 15px; cursor: pointer;}
	.plus{border-bottom: none; padding-bottom: 1px;}
	.js-q-item{position:relative;}
	.uvel{display: block;position: absolute;top: 0px;right: 0px;}
	.block_item--doing .blokdiskount {display:none;}
	@media screen and (max-width: 576px) {
		.block_item .blokdiskount{display:none;}
		.block_item .block_name{line-height: 20px;}
		.block_item .oboloch_doing .opis_zg0{display:none;}
		.block_item .block_item--name{padding-left:0;}
		.block_item .block_item--doing{padding-right:0;}
		.block_item .block_item--mob_item{padding-right:0;padding-left:0;}
		.block_item .block-doing--favourite i {    padding: 10px;}
		.block-doing--delete span {    padding: 9px 10px 11px;}
		.block_item--doing .blokdiskount {display:block;}
		.block_item .block_item--doing .blokdiskount .opis_zg{display: inline-block;   line-height: 30px;}
		.block_item .block_item--doing .blokdiskount .soder_skidka{font-size: 14px; line-height: 20px;  width: 40px;}
		.block_item .block_item--mob_photo{display:block !important; padding-left:0; padding-top:15px;}
		.block_item .block_item--mob_photo img{position: absolute; margin: auto; left: 0; top: 0; bottom: 0; right: 0;}
		.block_item .block_item--mob_also{padding-top:0;}
		.block_item .block_item--mob_nal .opis_zg{display:none;}
		.block_item .block_item--mob_nal, .block_item .block_item--mob_input{padding-left:5px;padding-top:15px;}
		.block_item .block_item--mob_input, .block_item .block_item--mob_amount, .block_item .block_item--mob_cena{padding-top:15px;}
		.block_item .block_item--mob_input .opis_zg{line-height:20px;} 
		.block_item .block_item--mob_cena .otcentr{position: relative;} 
		.block_item .block_item--mob_cena .otcentr .opis_zg{line-height:20px;} 
		.block_item .block_item--mob_amount .opis_zg{line-height:20px;} 
		.block_item .block_item--itogo {padding:0;}
		.block_item .block_item--itogo .otcentr{position:relative;}
	}