/*  @import url(https://allfont.ru/allfont.css?fonts=pt-sans);
  @import url(https://allfont.ru/allfont.css?fonts=pt-sans-italic);
  @import url(https://allfont.ru/allfont.css?fonts=pt-sans-bold);
   @import url(https://allfont.ru/allfont.css?fonts=pt-sans-bold-italic); */
.article_list{
	list-style:none !important;
	margin:0;
	padding:0;
}
.article_date-time{
	font-style:normal;
	font-family:"PT Serif",serif;
}
.article_list li{
	padding-bottom:30px;
	overflow:hidden;
	list-style-image:none !important;
	font-family:"PT Serif",serif;
}
.article_list li h3 a{
	text-decoration:none;
	color:#ffffff;
	font-style:normal;
}
.article_list li h3 a:hover{
	color:#ffffff;
}
.article_list li h3{
	background-color:#666666;
	margin-bottom: 8px;
	padding: 5px 10px 6px;
}
.article-more{
	font-weight:bold;
}
.article_list li p{
	padding-bottom:0;
}
.article_list li img{
	width:202px;	
}
.article_list li img{
	width:202px;	
}
/**/
.article_list li ul{
	padding-left:20px;
}
.article_list li li{
	padding-bottom:5px;
	overflow:hidden;
	list-style-type:disc;
	overflow:visible;
}
.service_bread{border-top:1px solid #EA5B35;margin-bottom:1em;}
.service_bread div.bgbread{background-color: #EA5B35;}
.service_bread ul{list-style: none;padding:0;margin:0;}

.service_bread ul li {
	display: inline-block;
	font-family: 'PT Sans';
	font-size: 14px;
	margin-right: 5px;
}

.rowanons h1 {font-size: 36px;color:#21385E;}
.service_item_opis h3{padding-top: 30%; height: 50%;font-size:28px;color:#21385E;}
.service_item_opis h3 a:link, .service_item_opis h3 a:focus, .service_item_opis h3 a:visited {color:#616161;} 
.service_item_opis h3 a:hover {color:#21385E;}
.service_item_opis h3 a {text-decoration:none;}
.service_item_opis .minanons{font-size: 16px;font-family: 'PT Sans';color:#616161;}
.service_item_opis .btn-blue{position: absolute; bottom: 10%; font-family: 'PT Sans'; font-size: 14px; width: 108px;height:36px;line-height:36px; padding: 0;}
.osnanons {font-family: 'PT Sans';font-size: 18px;color:#616161;}
.osntext {font-size: 16px;}
.next_salon {margin-top:1.5em !important;}
.next_salon h2 {font-size:30px;color:#21385E;}
.next_salon .next_salon_item {margin-bottom:16px;font-size: 16px;}
.next_recomend {position:relative;}
.next_recomend.fixed {position:fixed;top:0;z-index: 10;}
.next_recomend .recomend_title{height: 40px;text-align:center;line-height:40px;color:#fff;background-color:#c4c4c4;font-family: 'PT Sans';font-size: 14px;text-transform: uppercase;}
.next_recomend .recomend_list ul{list-style: none;padding-left:0;}
.next_recomend .recomend_list li{padding-top:12px;}
.next_recomend .recomend_list li, .next_recomend .recomend_list li a{font-family: 'PT Sans Bold';font-size: 16px;line-height: 18px;color:#616161;font-weight:900;}
.next_recomend .recomend_list li span{font-size: 12px;font-weight:500;}
.next_recomend .recomend_list .btn-blue{padding: 5px 8px;width: 108px;}

.teml_discount .item {
    color: #1d355b;
    display: inline-block;
    background: #f5f5f5;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #efefef;
}
.teml_discount .imgitem{
	display: block;
    height: 250px;
    width: 100%;
    
}
.teml_discount .textitem{height:50px; overflow:hidden;margin-bottom:1em;}


@media (max-width: 719px) {
  .service_item_opis h3{padding-top: 10%; height: auto;}
.service_item_opis .minanons{font-size: 80%;padding:1em 0;}
.service_item_opis .btn-blue{position: relative; bottom: none;}
.osnanons {font-size: 100%;}
.order-2 h2{padding-top:10%;}
}
.thumb-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.thumb-wrap video, .thumb-wrap iframe  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.news_list_wrapper {
	margin-top: 2em;
}

.news_list-item {
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 2em;
	border-top: 1px solid #c4c4c4;
}

.news_list-description {
	margin-top: 2em;
}

.news_list_title {
	font-size: 22px;
}

.news_list_title a {
	font-size: 22px;
	color: #616161;
	text-decoration: none!important;
}

.news_list_title a:hover {
	color: #21385E;
}

.news_list-link {
	text-decoration: none!important;
	color: #FFFFFF;
	display: block;
	padding: 8px 16px;
	font-family: 'PT Sans';
	font-size: 14px;
	background-color: #4d607e;

	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	width: fit-content;
}

.news_list-link:hover {
	background-color: #21385E;
	color: #FFFFFF;
}

.news_list-link:active {
	background-color: #4d607e;
	color: #FFFFFF;
}

.news_list-subtext {
	font-size: 16px;
	font-family: 'PT Sans';
	color: #616161;
}

.news_list-item .news_list-image {
	padding-left: 0px!important;
}

.preview_picture {
	margin-bottom: 1em;
}

@media (min-width: 1025px) {
	.news_list-description {
		margin-top: 3em;
		margin-left: 1em;
		margin-right: 1em;
	}

	.news_list_title {
		font-size: 28px;
	}

	.news_list_title a {
		font-size: 28px;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.news_list-description {
		margin-top: 0em;
	}
}

@media (max-width: 767px) {
	.news_list-row {
		flex-direction: column;
	}
}
